/* default styling */
.sh-dropnav {
  display: inline-block;
  position: relative;
  min-width: 4.5rem;
  min-height: 4.5rem;
  max-width: 16rem;
  width: 100%;

  &.is-open {
    .item-container {
      display: block !important;
    }
  }

  .wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background: $accent-tertiary;

    > button {
      display: flex;
      padding: 0 1.5rem;
      line-height: 4.5rem;
      font-weight: normal;
      font-size: 1.6rem;
      background: transparent;
      outline: 0;
      border: 0;
      color: $accent-primary;
      cursor: pointer;
    }

    .item-container {
      display: none;
      top: 4.5rem;
      left: 0;
      right: 0;
      list-style: none;
      padding: 0;
      margin: 0;
      background: $highlight-secondary;

      @include box-shadow(1);

      li > * {
        display: flex;
        line-height: 3rem;
        padding: 0 1.5rem;

        &:hover {
          color: $accent-primary;
          background: $accent-tertiary;
        }
      }
    }
  }
}