belk-logo[variant="header"] {
  .belk-logo {
    width: 57px;
    display: flex;

    // Media Queries
    @media (min-width: 768px) {
      width: 72px;
    }

    @media (min-width: 960px) {
      width: 96px;
    }
  }
}
