/* default styling */

sh-carousel {
  display: block;

  .sh-carousel {
    position: relative;
    .slides {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      > * {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        transition: all 300ms $ease;
        opacity: 0;
        &.active {
          opacity: 1;
        }
      }
    }

    .controls {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      .arrow {
        position: absolute;
        top: 50%;
        height: 4.5rem;
        width: 4.5rem;
        background: cyan;
        &.next {
          right: 0;
        }
        &.previous {
          left: 0;
        }
      }
    }
    .carousel-spacer {

      padding-top: 56.25%;
    }
  }

  &[vertical] {
    .controls {
      .arrow {
        .next{
          color: red;
        }
        .previous {
          color: red;
        }
      }
    }
  }
}
