/* default styling */

sh-carousel {
  display: inline-block;
  .sh-carousel {


    /** DELETE THIS EXAMPLE SECTION **/
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 15rem;
    width: 15rem;
    background-size: cover;
    border: 1px solid transparent;
    transition: all 200ms linear;

    &:hover {
      border: 1px solid $accent-primary;
    }
    
    &.snap-state {
      color: transparent;
      background-image: url(../../../assets/img/snap.gif);
      border: 1px solid $accent-primary;
    }

    

  }
}
