/* primary variant */

sh-carousel[variant="primary"] {
  margin: 0 0 6rem;

  .slides {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &.config {
      position: static;
      ul > * {
        height: auto;
        position: static;
      }
    }
  }

  ul {
    >* {
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      transition: all 300ms $ease;
      opacity: 0;
      overflow: hidden;
      pointer-events: none;
      &.active {
        pointer-events: initial;
        opacity: 1;
      }
    }
  }

  .controls {
    >* {
      background-color: rgba(255,255,255,.75);
      position: absolute;
    }
    .play {
      align-items: center;
      bottom: 1.5rem;
      border: 2px solid $lowlight-quinary;
      display: inline-flex;      
      justify-content: center;
      left: 50%;
      padding: 1rem;
      top: unset;
      transform: translateX(-50%);
      width: auto;

      button {
        border: none; 
        background-color: transparent;
        margin-right: 1rem;
        color: $lowlight-primary;
      }
    }
    .arrow {
      border: none;
      color: $lowlight-quinary;
      height: 5.5rem;
      width: 3.5rem;
      &.next {
        right: 0rem;
      }
      &.previous {
        left: 0rem;
      }
    }
    .dots {
      bottom: unset;
      display: flex;
      position: relative;
      left: unset;
      margin-bottom: .4rem;
      transform: unset;

      li {
        color: $lowlight-quinary;
        margin-right: .5rem;
        position: relative;
        opacity: 1;
        font-size: 2.5rem;
        &.active {
          color: $lowlight-primary;
        }
      }

    }
  }

  &[resolution="4:3"] {
    .carousel-spacer {
      padding-top: 75%;
    }
  }

  &[resolution="3:2"] {
    .carousel-spacer {
      padding-top: 66.66%;
    }
  }

  &[resolution="16:9"] {
    .carousel-spacer {
      padding-top: 56.25%;
    }
  }

  &[vertical] {
    .controls {
      .arrow {
        .next {
          color: red;
        }

        .previous {
          color: red;
        }
      }
    }
  }

  &[hide-controls] {
    margin: 0;
  }

  &[hide-arrows] {
    .slides > ul {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
