/* default styling */

belk-promo {
  .belk-promo {
    display: flex;
    justify-content: center;
    flex-direction: column;

    div {
      text-align: center;
    }

    .line-combinator {
      display: none;
    }

    @include lg {
      justify-content: flex-start;
      flex-direction: row;

      .line-combinator {
        white-space: pre;
        display: inline;
      }
    }
  }
}
