        </main>
      </div> <!-- #page end -->
    <sh-curtain id="curtain"></sh-curtain>
    <lib-control-panel id="control"></lib-control-panel>
    <textarea name="copy-editor" id="copy-editor" style="position:absolute; padding: 0; margin: 0; height:0; width:0; outline:0; border: none; opacity: 0;"></textarea>
    </div>
  <!-- built files will be auto injected -->
  </body>

</html>