.lib-section-links {
  background: $highlight-secondary;
  .contain {
    display: flex;
    justify-content: flex-end;
  }
  a {
    display: block;
    text-transform: capitalize;
    line-height: 3rem;
    margin-left: 3rem;
  }
}

