<%- htmlWebpackPlugin.options.docsHead %>

<title><%= htmlWebpackPlugin.options.title %></title>

<div class="documentation contain">
  <h1>Banner</h1>
  <section id="usage">
    <h2>Usage</h2>

    <pre>
      <code class="language-html">
          &lt;sh-banner&gt;
            &lt;sh-carousel&gt;
              ...
            &lt;/sh-carousel&gt;
          &lt;/sh-banner&gt;
      </code>
    </pre>
  </section>

  <section id="reference" class="baseline30">
    <h2>Reference</h2>
    <h3 id="attributes">Attributes</h3>

    <table class="attributes">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>backgrounds</td>
          <td>Boolean</td>
          <td>
            <ul>
              <li>Comma separated list of background colors to cycle when the carousel activates</li>
              <li>Defaults to: 'lowlight-secondary, lowlight-tertiary'</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>reveal</td>
          <td>String</td>
          <td>
            <ul>
              <li>
                Animate when initially scrolled or loaded into view
              </li>
              <li>
                Off by default
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>slide-from</td>
          <td>String</td>
          <td>Direction that the slide content comes from when a slide is activated</td>
        </tr>
        <tr>
          <td>slide-to</td>
          <td>String</td>
          <td>Direction that the slide content goes when a slide is deactivated</td>
        </tr>
        <tr>
          <td>content-in</td>
          <td>Number</td>
          <td>
            <ul>
              <li>Content transition in speed</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>content-out</td>
          <td>Number</td>
          <td>
            <ul>
              <li>Content transition out speed</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>change-delay</td>
          <td>Number</td>
          <td>
            Stall time between slides to allow for transitions.
          </td>
        </tr>
        <tr>
          <td>closable</td>
          <td>String</td>
          <td>
            Make a closable banner. The value of this property is used to generate a localStorage value to keep the banner closed on subsequent page loads. Automatically incorporates close button and ADA. 
          </td>
        </tr>
        <tr>
          <td>close-param</td>
          <td>String</td>
          <td>
            LocalStorage parameter to pre-close the banner.
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <h3 id="slots">Slots</h3>
    <table class="slots">
      <thead>
        <tr>
          <th>Slot</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>default</td>
          <td>
            This will usually be a sh-carousel of text slides.
          </td>
        </tr>
      </tbody>
    </table> -->

    <h3 id="events">Events</h3>

    <table class="events">
      <thead>
        <tr>
          <th>Event</th>
          <th>Payload Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>banner-revealed</td>
          <td>
            Component
          </td>
          <td>
            Emitted when a <code>reveal()</code> has been triggered.
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="examples">
    <h2>Examples</h2>
    <h3>Closable Banner</h3>
    <p>If you do not see a banner, try clearing your cache. It sets a localStorage item based on the <code>closable</code> value. You could try changing that too, I suppose :)</p>
    <lib-toolbar>
      <sh-banner closable="closable-demo-banner" variant="primary" class="back-highlight-secondary lowlight-secondary case-upper font-primary wt-bold text-center">
        <div class="pad-y-atomic">Some text</div>
      </sh-banner>
    </lib-toolbar>

    <h3>Background Fade Control with Carousel</h3>
    <div class="pad-b">
      <sh-banner variant="primary" class="highlight-primary" backgrounds="brand-mysticpurple, brand-wildfuscia, brand-classicblue">
        <sh-carousel id="pre-header-carousel" variant="primary" autoplay="6000" hide-controls>
          <ul slot="slides">
            <li>
              <!-- this has a slide link -->
              <a href="#link1">
                <div class="case-upper font-primary text-center color-highlight-primary pad-y-atomic">
                  <p><span class="wt-700">Extra 60% off </span> your favorite brands <span class="cta">do it now</span></p>
                </div>
              </a>
            </li>
            <li>
              <!-- this has multiple links -->
              <div class="case-upper font-primary text-center color-highlight-primary pad-y-atomic">
                <p><span class="wt-700">Extra 20% off </span> <a class="cta" href="#regular">regular</a> and <a class="cta" href="#sale">sale</a> purchases with your rewards credit card</p>
              </div>
            </li>
          </ul>
        </sh-carousel>
      </sh-banner>
      <sh-button click-event="show-banner">Click to Reveal Banner</sh-button>
      <div hover-event="show-banner">Hover to Reveal Banner</div>
      <sh-banner reveal-event="show-banner">
        <img data-src="https://picsum.photos/200/300" alt="">
      </sh-banner>
    </div>


    <h3>Adaptable Content</h3>
    <lib-toolbar>
      <sh-banner variant="primary" class="font-primary">
        <!-- DEFAULT -->
        <sh-adapt-content>
          <div slot="sm">
            <div class="pad-y">
              <div class="uppercase text-center">
                <div class="px60 lh60 highlight-primary bold">
                  50% off
                </div>
                <div class="px42 lh60 accent-tertiary">
                  everything
                </div>
                <div>
                  <sh-button scale="120" round variant="primary">act!</sh-button>
                </div>
              </div>
            </div>
          </div>

          <div slot="md">
            <div class="pad-y">
                <div class="uppercase text-center">
                  <div class="px60 lh60 highlight-primary bold">
                    extra 50% off
                  </div>
                  <div class="px42 lh60 accent-tertiary">
                    all vue components
                  </div>
                  <div>
                    <sh-button scale="120" round variant="primary">act now!</sh-button>
                  </div>
                </div>
              </div>
          </div>

          <div slot="lg">
            <div class="px30 lh40 highlight-primary bold uppercase text-center">
              get an extra 50% off <span class="normal accent-tertiary">all vue components</span>
            </div>
          </div>
        </sh-adapt-content>
      </sh-banner>
    </lib-toolbar>

  </section>

  <section id="changelog">
    <h2>Changelog</h2>
    <dl>
      <dt>0.1.0</dt>
      <dd>Banner is under development.</dd>
      <dt>1.0.0</dt>
      <dd>Banner is ready for use.</dd>
      <dt>1.1.0</dt>
      <dd>Closable added.</dd>
    </dl>
  </section>
</div>

<%- htmlWebpackPlugin.options.docsFoot %>
