<%- htmlWebpackPlugin.options.docsHead %>

<title><%= htmlWebpackPlugin.options.title %></title>

<div class="documentation contain">
  <h1>Combo</h1>
  <section id="usage">
    <h2>Usage</h2>
    <pre>
      <code class="language-html">
          &lt;sh-combo&gt;
            &lt;div slot="options"&gt;
          &lt;/sh-combo&gt;
      </code>
    </pre>

  </section>

  <section id="reference" class="baseline30">
    <h2>Reference</h2>
    <h3 id="attributes">Attributes</h3>

    <table class="attributes">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>hidden</td>
          <td>Boolean</td>
          <td>Hide from view.</td>
        </tr>
      </tbody>
    </table>

    <h3 id="slots">Slots</h3>

    <table class="slots">
      <thead>
        <tr>
          <th>Slot</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>default</td>
          <td>
            Text content.
          </td>
        </tr>
      </tbody>
    </table>

    <h3 id="methods">Public Methods</h3>

    <!-- <table class="methods">
      <thead>
        <tr>
          <th>Function</th>
          <th>Params</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>snap</td>
          <td>
            <ul>
              <li>
                none
              </li>
            </ul>
          </td>
          <td>
            Perform snap animation and halve text.
          </td>
        </tr>
      </tbody> -->
    </table>

    <h3 id="events">Events</h3>

    <table class="events">
      <thead>
        <tr>
          <th>Event</th>
          <th>Payload Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>event-name</td>
          <td>
            Type
          </td>
          <td>
            Fires when something happens.
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="examples">
    <h2>Examples</h2>
    <h3>Default</h3>
    <lib-toolbar>
      <div style="width: 20rem">
        <sh-combo>
          <ul slot="options">
            <li>One thing</li>
            <li>Two thing</li>
            <li>Red thing</li>
            <li>Blue thing</li>
          </ul>
        </sh-combo>
      </div>
    </lib-toolbar>
    <h3>Primary variant</h3>
    <lib-toolbar>
      <div style="width: 20rem">
        <sh-combo variant="primary">
          <ul slot="options">
            <li>One thing</li>
            <li>Two thing</li>
            <li>Red thing</li>
            <li>Blue thing</li>
          </ul>
        </sh-combo>
      </div>
    </lib-toolbar>
  </section>

  <section id="changelog">
    <h2>Changelog</h2>
    <dl>
      <dt>0.1.0</dt>
      <dd>Combo is under development.</dd>
    </dl>
  </section>
</div>

<%- htmlWebpackPlugin.options.docsFoot %>
