.nav-icon {
  padding-right: $base;
}

.logo {
  color: $highlight-primary;
  font-weight: bold;
  font-size: 3rem;
  font-family: "Menlo", monospace;
  font-weight: 100;
}

.page-name {
  color: $accent-primary;
  margin-left: auto;
  font-size: 6rem;
  font-family: "Menlo", monospace;
  transform: translateY(300%) translateZ(0);
  transition: all 250ms $ease;
  opacity: 0;
  &.active {
    transform: translateY(-0.5rem) translateZ(0);
    opacity: 1;
  }
}

#header {
  overflow: hidden;
  background: $accent-quaternary;
}