<%- htmlWebpackPlugin.options.docsHead %>

<title><%= htmlWebpackPlugin.options.title %></title>

<div class="documentation contain">
  <h1>Offer Container</h1>
  <section id="usage">
    <h2>Usage</h2>
    <pre>
      <code class="language-html">
          &lt;offer-container&gt;new component&lt;/offer-container&gt;
      </code>
    </pre>

    <h2 class="pad-t">Live Modificiation</h2>
    <p>"Where" is optional and will default to the end of the list...</p>
    <pre>
      <code class="language-javascript">
        sh.emit('add-{unique-id}', { what: offers, where: positionOrId });
        sh.emit('move-{unique-id}', { from: positionOrId, to: position });
        sh.emit('update-items-coupons', { data: ... });
      </code>
    </pre>

  </section>

  <section id="reference" class="baseline30">
    <h2>Reference</h2>
    <h3 id="attributes">Attributes</h3>

    <table class="attributes">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>unique-id</td>
          <td>String</td>
          <td>Container ID (required).</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="examples">
    <h2>Examples</h2>
    <h3>Coupons</h3>
    <offer-container variant="coupons" unique-id="demo-coupons"></offer-container>
    <h3>Offers</h3>
    <offer-container variant="offers" unique-id="demo-offers"></offer-container>
  </section>

  <section id="changelog">
    <h2>Changelog</h2>
    <dl>
      <dt>0.1.0</dt>
      <dd>Offer Container is under development.</dd>
      <dt>1.0.0</dt>
      <dd>Offer Container is ready for use.</dd>
    </dl>
  </section>

  <!-- Uncomment this section when you have written requirements in the schema.json!
    <section id="requirements">
    <h2>Requirements</h2>
    <lib-reqs></lib-reqs>
  </section> -->
</div>

<%- htmlWebpackPlugin.options.docsFoot %>
