$back-primary: #fefefe;
$back-secondary: #ddd;

$foreground: rgb(25,25,25);

$accent-primary: rgb(157, 208, 230);
$accent-secondary: rgb(129, 177, 210);
$accent-tertiary: rgb(0,131,186);
$accent-quaternary: rgb(6, 103, 160);
$accent-quinary: rgb(41, 57, 115);