html {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 8px !important;
  -webkit-overflow-scrolling: auto;
  background: tomato;
  &.modal-shown {
    #modals .modal.active .content {
      border: 1px solid #ccc;
    }
  }
}

html.iOS {
  height: 100% !important;
  width: 100% !important;
  body {
    height: 100% !important;
    width: 100% !important;
  }
}

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

[id="xxx"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: opacity 200ms ease-in;
  > * {
    position: relative;
    transition: all 300ms ease;
    overflow: hidden;
    transform: translateX(0) translateZ(0);
  }
  #page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    transition: all 300ms ease-in-out;
  }
  #modals {
    position: fixed;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    background: rgba(255, 255, 255, 0.85);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
  }
  #modals > .modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-130%);
    transition: transform 300ms ease-in-out;
    transition-delay: 01ms;
    height: 0;
    overflow: hidden;
  }

  #control {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    overflow: visible;
  }

  &.modal-shown {
    #close-modal {
      transform: translateZ(0);
    }
    #close-curtain {
      transform: translateY(-10rem) translateZ(0) !important;
    }
    #modals {
      pointer-events: initial;
      opacity: 1;
      .modal.active {
        transform: translateY(0);
        height: auto;
      }
    }
  }
}

#page {
  > header {
    display: block;
    padding: 3rem;
    position: relative;
    line-height: 3rem;
    background: $back-secondary;
    border-bottom: 2px solid $accent-secondary;
    i {
      position: absolute;
      right: 3rem;
    }
  }

  > main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    background: $back-primary;
  }

  main > footer {
    display: block;
    padding: 3rem;
    background: $foreground;
    color: $back-primary;
  }
}

i.material-icons {
  display: block;
  line-height: 1em;
}
