/* default styling */

sh-popper {
  display: inline-block;
  border: 1px solid red;
  .actual {
    background: $lowlight-primary;
    color: $highlight-primary;
  }
  // TODO: enter-active-class demos
}
