$arrowHeight: 0.8rem;
$arrowWidth: 2.4rem;
$_aw: $arrowWidth/2;

sh-popper {
  position: relative;

  i {
    pointer-events: none;
  }

  .sh-popper {
    display: inline-block;
    color: $lowlight-primary;

    &:hover {
      .reference a {
        background: $highlight-secondary;
      }
    }
  }

  .popper-target {
    border-bottom: none;
    display: inline-flex;
    cursor: pointer;

    button {
      display: none;
    }

    .reference {
      position: relative;
      > span {
        display: block; // fix for Safari click handling
      }
    }

    a {
      position: relative;
      display: flex;
      align-items: center;
      transition: all 150ms $ease;
      color: $lowlight-primary;
      cursor: pointer;
    }

    .belk-icon {
      display: flex;
    }
  }

  .popper-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    z-index: 0;
    border-width: $_aw;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: inherit;
      border-color: transparent;
      transform: translateX(-50%);
    }
  }

  .popper-actual {
    width: auto;
    min-width: 30rem;
    max-width: 102rem;
    z-index: 2;

    &[fill] {
      width: 100%;
    }

    &[data-popper-placement^="top"] {
      margin-bottom: $arrowHeight !important;
    }

    &[data-popper-placement^="top"] .popper-arrow {
      border-top-width: $arrowHeight;
      border-bottom-width: 0;
      border-color: $lowlight-primary transparent transparent transparent;
      bottom: -$arrowHeight;
      margin-top: 0;
      margin-bottom: 0;

      &::before {
        top: -9px;
        border-color: $highlight-primary transparent transparent transparent;
      }
    }

    &[data-popper-placement^="bottom"] {
      margin-top: $arrowHeight;
    }

    &[data-popper-placement^="bottom"] .popper-arrow {
      border-top-width: 0;
      border-bottom-width: $arrowHeight;
      border-color: transparent transparent $lowlight-primary transparent;
      top: -$arrowHeight;
      margin-top: 0;
      margin-bottom: 0;

      &::before {
        border-color: transparent transparent $highlight-primary transparent;
        top: 1px;
      }
    }

    &[data-popper-placement^="right"] {
      margin-left: $_aw;
    }

    &[data-popper-placement^="right"] .popper-arrow {
      border-width: $arrowHeight $_aw $_aw 0;
      border-color: transparent $lowlight-primary transparent transparent;
      left: -$_aw;
      margin-left: 0;
      margin-right: 0;
    }

    &[data-popper-placement^="left"] {
      margin-right: $_aw;
    }

    &[data-popper-placement^="left"] .popper-arrow {
      border-width: $_aw 0 $_aw $arrowHeight;
      border-color: transparent transparent transparent $lowlight-primary;
      right: -$_aw;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .popper-content {
    background: $highlight-primary;
    color: $lowlight-primary;
    padding: 1rem;
    border: 1px solid $lowlight-primary;

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        white-space: nowrap;

        a {
          display: block;
          color: currentColor;
          padding: 0.6rem;

          &:not([href="#"]):hover {
            background-color: $highlight-secondary;
          }
        }
      }
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 250ms $ease;
  }

  .fade-enter,
  .fade-leave-to

  /* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
  }

  belk-icon.arrow-down {
    align-self: flex-end;
  }
}
