/* default styling */

.component-template {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 15rem;
  width: 15rem;
  background-size: cover;
  transition: all 200ms linear;
  cursor: pointer;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid purple;
  }
  &.snap-state {
    color: transparent;
    background-image: url(../../../assets/img/snap.gif)
  }
}