.nav-icon {
  cursor: pointer;
  color: $highlight-primary;
  font-size: 4rem;
  transition: all 250ms ease;
  border-radius: 50%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    opacity: 0.8;
  }
}

.show-nav {
  position: fixed;
  top: 3rem;
  right: 3rem;
  transition: all 400ms ease-in-out;
}

.close-curtain {
  position: fixed;
  top: 3rem;
  right: 3rem;
  z-index: 10;
  transform: translateY(-20rem) translateZ(0);
  transition: all 400ms ease-in-out;
}

.close-modal {
  position: fixed;
  top: 3rem;
  right: 3rem;
  font-size: 4rem;
  transform: translateX(20rem) translateZ(0);
  transition: all 400ms ease-in-out;
  i {
    color: $lowlight-primary;
  }
}