<%- htmlWebpackPlugin.options.docsHead %>

<title><%= htmlWebpackPlugin.options.title %></title>

<div class="documentation contain">
  <h1>Icon</h1>
  <section id="usage">
    <h2>Usage</h2>
    <pre>
      <code class="language-html">
          &lt;belk-icon name="close"&gt;Title for specific case.&lt;/belk-icon&gt;
      </code>
    </pre>
    <test-thing
        prop1="1"
        prop2="example text"
        prop3="true"
        string-prop="123"
        boolean-prop="false"
        number-prop="123"
        long-prop-name="long name"
      >
        <!-- Some comments -->
      </test-thing>
  </section>

  <section id="reference" class="baseline30">
    <h2>Reference</h2>
    <h3 id="attributes">Attributes</h3>

    <table class="attributes">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>name</td>
          <td>String</td>
          <td>Name of the icon to use.</td>
        </tr>
        <tr>
          <td>height</td>
          <td>Number</td>
          <td>Height of icon.</td>
        </tr>
        <tr>
          <td>width</td>
          <td>Number</td>
          <td>Width of icon.</td>
        </tr>
      </tbody>
    </table>

    <h3 id="slots">Slots</h3>

    <table class="slots">
      <thead>
        <tr>
          <th>Slot</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>default</td>
          <td>
            Title content for SVG (like accessible ALT text).
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="examples">
    <h2>Examples</h2>
    <lib-icons></lib-icons>
  </section>

  <section id="changelog">
    <h2>Changelog</h2>
    <dl>
      <dt>1.0.0</dt>
      <dd>Belk Icon is ready for use.</dd>
    </dl>
  </section>
</div>

<%- htmlWebpackPlugin.options.docsFoot %>
