.lib-notify {
  position: fixed;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  line-height: 3rem;
  padding: 0 3rem;
  background: $accent-primary;
  border: 1px solid $accent-secondary;
  border-radius: 1rem;
  transform: translateZ(0) translateX(0) translateY(-300%);
  opacity: 0;
  pointer-events: none;
  transition: all 200ms $ease;
  z-index: 10;
  &.active {
    opacity: 1;
    transform: translateY(0) translateZ(0);
  }
}