<%- htmlWebpackPlugin.options.docsHead %>

<title><%= htmlWebpackPlugin.options.title %></title>

<div class="documentation contain">
  <h1>Phone Number</h1>
  <section id="usage">
    <h2>Usage</h2>
    <pre>
      <code class="language-html">
          &lt;phone-number in="9991234567"&gt;&lt;/phone-number&gt;
      </code>
    </pre>

  </section>

  <section id="examples">
    <h2>Examples</h2>
    <h3>Default</h3>
    <lib-toolbar>
      <phone-number in="9991234567"></phone-number>
    </lib-toolbar>
  </section>

  <section id="changelog">
    <h2>Changelog</h2>
    <dl>
      <dt>1.0.0</dt>
      <dd>Phone Number is ready for use.</dd>
    </dl>
  </section>

  <section id="requirements">
    <h2>Requirements</h2>
    <lib-reqs></lib-reqs>
  </section>
</div>

<%- htmlWebpackPlugin.options.docsFoot %>
