<%- htmlWebpackPlugin.options.docsHead %>

<title><%= htmlWebpackPlugin.options.title %></title>

<div class="documentation contain">
  <div>
    [ BANNER TOOL ]
  </div>
</div>

<%- htmlWebpackPlugin.options.docsFoot %>
