<%- htmlWebpackPlugin.options.docsHead %>
<title>Global Object-Oriented Classes</title>
<div class="documentation contain">
  <h1>Classes</h1>
  <section>
    <h2>Legos</h2>
    <p>The focus of OOCSS is the idea of treating page elements as objects, giving all these objects classes, treating objects’ classes as single entities in style sheets, and taking it from there.</p>
    <p>Writing CSS outside of the head of your document causes a scenario where a page must be re-rendered as the CSS is encoutered. One way to bypass this is to create massive/unwieldly blocks of super specific CSS that only apply to one thing on the page. This creates massive CSS files that then have to be transferred to your user.</p>
    <p>OO classes give you the ability to make presentation-related adjustments to content (and in our case, components) with the easy-to-remember class names listed below.</p>
    <p>Looking for <a href='/utilities/colors'>colors?</a></p>
  </section>

  <section id="usage">
    <h2>Usage</h2>
    <p>
      <sh-tooltip tip="Object-oriented">OO</sh-tooltip> classes that can be used to style or space content. They are not
      used in component creation, but the variables used to create them are.
    </p>
    <pre>
      <code class="language-html">
        &lt;p class="px30 font-primary" &gt;Lorem ipsum dolor...&lt;/p&gt;
      </code>
    </pre>
  </section>

  <!-- <section id="animation">
    <h2>Animation</h2>

    <h3>Staging</h3>
    <table class="class-defs">
      <thead>
        <tr>
          <th>Class</th>
          <th>Effect</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <code class="language-css">.stage-left</code>
          </td>
          <td>
            Position something off-screen to the left.
          </td>
        </tr>
        <tr>
          <td>
            <code class="language-css">.stage-right</code>
          </td>
          <td>
            Position something off-screen to the right.
          </td>
        </tr>
        <tr>
          <td>
            <code class="language-css">.stage-top</code>
          </td>
          <td>
            Position something off-screen to the top.
          </td>
        </tr>
        <tr>
          <td>
            <code class="language-css">.stage-bottom</code>
          </td>
          <td>
            Position something off-screen to the bottom.
          </td>
        </tr>
      </tbody>
    </table>
  </section> -->

  <section id="box-model">
    <h2>Box Model</h2>

    <p>"Amount" is defined by these names: </p>
    <ul>
      <li><code>-micro</code> (approx 8)</li>
      <li><code>-little</code> (approx 16)</li>
      <li>none (32)</li>
      <li><code>-big</code> (approx 48)</li>
      <li><code>-huge</code> (approx 64)</li>
      <li><code>-mega</code> (approx 80)</li>
    </ul>

    <p>"Sides" are defined here:</p>
    <ul>
      <li>
        <code>-x</code> - left AND right sides combined.
      </li>
      <li>
        <code>-y</code> - top AND bottom sides combined.
      </li>
      <li>
        <code>-t</code> - top
      </li>
      <li>
        <code>-r</code> - right
      </li>
      <li>
        <code>-b</code> - bottom
      </li>
      <li>
        <code>-l</code> - left
      </li>
    </ul>

    <h3>Padding</h3>
    <table class="class-defs">
      <thead>
        <tr>
          <th>Class</th>
          <th>Effect</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <code class="language-css">.pad{-edge}{-amount}</code>
          </td>
          <td>
            Modify the padding of an element.
          </td>
        </tr>
      </tbody>
    </table>

    <h3>Margin</h3>
    <table class="class-defs">
      <thead>
        <tr>
          <th>Class</th>
          <th>Effect</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <code class="language-css">.margin{-edge}{-amount}</code>
          </td>
          <td>
            Modify the margin of an element.
          </td>
        </tr>
        <tr>
          <td>
            <code class="language-css">.pull{-edge}{-amount}</code>
          </td>
          <td>
            Modify the negative margin of an element.
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  </section>

  <section id="typography">
    <h2>Typography</h2>

    <h3 id="size-and-line">Size and Line Height</h3>
    <table class="class-defs">
      <thead>
        <tr>
          <th>Class</th>
          <th>Effect</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <code class="language-css">.px-NN</code>
          </td>
          <td>
            <ul>
              <li>
                Set the [responsive] font size of a piece of content.
              </li>
              <li>
                Options range from 10-100. ex: .px-62
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <code class="language-css">.lh-NN</code>
          </td>
          <td>
            <ul>
              <li>
                Set the [responsive] line height of a piece of content.
              </li>
              <li>
                Options range from 10-100. ex: .lh-30
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <code class="language-css">.wt-NN</code>
          </td>
          <td>
            <ul>
              <li>
                Set the weight (thickness) of the font.
              </li>
              <li>
                Options range from 300-900 and increment by 100. ex: .wt-600
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>


    <h3 id="style">Style</h3>
    <table class="class-defs">
      <thead>
        <tr>
          <th>Class</th>
          <th>Effect</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <code class="language-css">.strike</code>
          </td>
          <td>
            <div class="strike">Strikethrough text.</div>
          </td>
        </tr>
        <tr>
          <td>
            <code class="language-css">.italic</code>
          </td>
          <td>
            <div class="italic">Italicized text.</div>
          </td>
        </tr>
        <tr>
          <td>
            <code class="language-css">.light</code>
          </td>
          <td>
            <div class="light">Light (weight) text.</div>
          </td>
        </tr>
        <tr>
          <td>
            <code class="language-css">.normal</code>
          </td>
          <td>
            <div class="normal">Normal (weight) text.</div>
          </td>
        </tr>
        <tr>
          <td>
            <code class="language-css">.bold</code>
          </td>
          <td>
            <div class="bold">Bold (weight) text.</div>
          </td>
        </tr>
        <tr>
          <td>
            <code class="language-css">.heavy</code>
          </td>
          <td>
            <div class="heavy">Heavy (weight) text.</div>
          </td>
        </tr>
      </tbody>
    </table>

    <h3 id="alignment">Alignment</h3>
    <table class="class-defs">
      <thead>
        <tr>
          <th>Class</th>
          <th>Effect</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <code class="language-css">.text-right</code>
          </td>
          <td class="text-right">
            Right align text.
          </td>
        </tr>
        <tr>
          <td>
            <code class="language-css">.text-left</code>
          </td>
          <td class="text-left">
            Left align text.
          </td>
        </tr>
        <tr>
          <td>
            <code class="language-css">.text-center</code>
          </td>
          <td class="text-center">
            Center align text.
          </td>
        </tr>
        <tr>
          <td>
            <code class="language-css">.text-justify</code>
          </td>
          <td class="text-justify">
            Align text justified.
          </td>
        </tr>
        <tr>
          <td>
            <code class="language-css">.force-justify</code>
          </td>
          <td class="force-justify">
            Align text justified forced (justifies the last line and single-line paragraphs).
          </td>
        </tr>
      </tbody>
    </table>

    <h3 id="casing">Casing</h3>
    <table class="class-defs">
      <thead>
        <tr>
          <th>Class</th>
          <th>Effect</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <code class="language-css">.uppercase</code>
          </td>
          <td>
            <div class="uppercase">Uppercased text.</div>
          </td>
        </tr>
        <tr>
          <td>
            <code class="language-css">.lowercase</code>
          </td>
          <td>
            <div class="lowercase">Lowercased text.</div>
          </td>
        </tr>
        <tr>
          <td>
            <code class="language-css">.normalcase</code>
          </td>
          <td>
            <div class="normalcase">Normal casing.</div>
          </td>
        </tr>
        <tr>
          <td>
            <code class="language-css">.titlecase</code>
          </td>
          <td>
            <div class="titlecase">Title Casing.</div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section id="grid">
    <h2>Grid</h2>
    <div class="grid-demo flow">
      <div class="srow">
        <div class="scol-5-6"></div>
        <div class="scol-1-6"></div>
      </div>
      <div class="srow">
        <div class="scol-1-2">
          <div class="srow">
            <div class="scol-1-4"></div>
            <div class="scol-1-4"></div>
            <div class="scol-1-4"></div>
            <div class="scol-1-4"></div>
          </div>
        </div>
        <div class="scol-1-2"></div>
      </div>

      <div class="row desktop">
        <div class="scol-1-3"></div>
        <div class="scol-1-3"></div>
        <div class="scol-1-3"></div>
      </div>

      <div class="row desktop">
        <div class="scol-1-4"></div>
        <div class="scol-1-4"></div>
        <div class="scol-1-4"></div>
        <div class="scol-1-4"></div>
      </div>

      <div class="row desktop">
        <div class="scol-1-5"></div>
        <div class="scol-1-5"></div>
        <div class="scol-1-5"></div>
        <div class="scol-1-5"></div>
        <div class="scol-1-5"></div>
      </div>

      <div class="srow">
        <div class="scol-1-5"></div>
        <div class="scol-4-5"></div>
      </div>

      <div class="srow">
        <div class="scol-2-5"></div>
        <div class="scol-3-5"></div>
      </div>

      <div class="srow">
        <div class="scol-2-5"></div>
        <div class="scol-3-5">
          <div class="scol-1-4"></div>
          <div class="scol-3-4"></div>
        </div>
      </div>

      <div class="srow">
        <div class="scol-1-4"></div>
        <div class="scol-3-4"></div>
      </div>

      <div class="srow">
        <div class="scol-1-4"></div>
        <div class="scol-1-2">
          <div class="scol-1-6"></div>
          <div class="scol-1-6"></div>
          <div class="scol-1-6"></div>
          <div class="scol-1-6"></div>
          <div class="scol-1-6"></div>
          <div class="scol-1-6"></div>
        </div>
        <div class="scol-1-4"></div>
      </div>

      <div class="srow">
        <div class="scol-1-2">
          <div class="scol-1-4"></div>
          <div class="scol-1-4"></div>
          <div class="scol-1-4"></div>
          <div class="scol-1-4"></div>
        </div>
        <div class="scol-1-2">
          <div class="scol-1-8"></div>
          <div class="scol-1-8"></div>
          <div class="scol-1-8"></div>
          <div class="scol-1-8"></div>
          <div class="scol-1-2"></div>
        </div>
      </div>
    </div>
  </section>

  <section id="changelog">
    <h2>Changelog</h2>
    <dl>
      <dt>1.0.0</dt>
      <dd>Basicss integration.</dd>
    </dl>
  </section>
</div>

<%- htmlWebpackPlugin.options.docsFoot %>
