
.offer-container[variant="promos"] {
  flex-wrap: nowrap;
  margin-left: -1rem;
  belk-coupon {
    width: 260px;
    &:last-child {
      margin-right: 1rem;
    }
    .coupon-discount,
    .coupon-ends,
    .coupon-event-name,
    .coupon-use-code,
    .coupon-upc,
    .coupon-print,
    .coupon-spacer,
    .coupon-extra {
      display: none;
    }
  }

  sh-button {
    flex-basis: 50%;
  }
}
