
.offer-container[variant="promos"] {
  flex-wrap: nowrap;
  margin-left: -1rem;
  belk-coupon {
    width: 296px;
    &:last-child {
      margin-right: 1rem;
    }
    .coupon-discount,
    .coupon-ends,
    .coupon-event-name,
    .coupon-use-code,
    .coupon-upc,
    .coupon-print,
    .coupon-spacer,
    .coupon-extra {
      display: none;
    }
    .coupon-type {
      text-align: left;
      margin-left: 1rem;
      border-bottom: none;
    }
    .coupon-description {
      order: 1;
    }
    .coupon-buttons {
      order: 2;
    }
  }

  sh-button {
    flex-basis: 50%;
  }
}
