<%- htmlWebpackPlugin.options.docsHead %>

<title><%= htmlWebpackPlugin.options.title %></title>

<div class="documentation contain">
  <h1>BelkStorefinder</h1>
  <section id="usage" class="baseline30">
    <h2>Usage</h2>
    <pre>
      <code class="language-html">
          &lt;belk-storefinder&gt;&lt;/belk-storefinder&gt;
      </code>
    </pre>
    <p>Works on any page with Belk Header to display local stores or link to the page of stores.</p>
  </section>

  <section id="examples">
    <h2>Examples</h2>
    <h3>Default</h3>
    <lib-toolbar>
      <belk-storefinder></belk-storefinder>
    </lib-toolbar>
  </section>

  <section id="changelog">
    <h2>Changelog</h2>
    <dl>
      <dt>1.0.0</dt>
      <dd>BelkStorefinder is ready for use.</dd>
    </dl>
  </section>

  <!-- Uncomment this section when you have written requirements in the schema.json!
    <section id="requirements">
    <h2>Requirements</h2>
    <lib-reqs></lib-reqs>
  </section> -->
</div>

<%- htmlWebpackPlugin.options.docsFoot %>
