belk-flex[variant="buttons"] {
  .belk-flex {
    flex-direction: column-reverse;
    justify-content: flex-start;

    @include md {
      flex-direction: row;
      justify-content: flex-end;

      [reject-trigger] {
        order: 0;
      }
    }
  }
}
