
$z-level: 8;
.lib-toolbar {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0 -0.5rem;
  border: 1px solid transparent;
  border-radius: 0 0 1rem 1rem;
  background: transparent;
  transition: all 250ms $ease;
  .component {
    min-height: 10rem;
    flex-grow: 2;
  }
  &.fullscreen {
    position: fixed;
    top: 9rem; left: 0;
    right: 0; bottom: 0;
    z-index: $z-level;
    &.active {
      .component {
        min-height: 50vh;
      }
    }
    .component {
      min-height: 100%;
      overflow-y: auto;
    }
    .control-wrap {
      order: -1;
    }
    .control {
      position: absolute;
      right: 0;
      bottom: auto;
      top: 0rem;
    }
  }
  &:hover {
    border: 1px dashed;
  }
  .editor {
    display: none;
  }
  &.active {
    background: $lowlight-secondary;
    .editor {
      display: block;
    }
  }
}

.ace_content,
.ace_editor {
  font-size: 16px !important;
}

.control-wrap {
  position: relative;
  i {
    font-size: 2rem !important;
    margin: 0 !important;
  }
}

.control {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: $z-level;
  button {
    transition: all 250ms $ease;
    &:hover {
      background: $accent-secondary;
    }
  }
}

.component {
  padding: 0 0 3rem 0 ;
  background: $highlight-primary;
}

.editor {
  min-height: 10rem;
  margin-top: 0.5rem;
  width: 100% !important;
}
