.lib-toolbar {
  padding: 0.5rem;
  margin: 0;
  border: 1px solid transparent;
  background: #272822;
  border-radius: 0 0 1rem 1rem;
  &:hover {
    border: 1px dashed;
  }
}

.component {
  padding: 1.5rem;
  background: #fff;
}

.editor {
  min-height: 10rem;
}