:root {
  --header-height: 18rem;
  --brand-black: rgb(0, 0, 0);
  --brand-darkblue: rgb(20,55,125);
  --brand-blue:  rgb(0,118,190);
  --brand-teal: rgb(0,163,158);
  --brand-green: rgb(196,216,46); 
  --brand-yellow: rgb(255,214,0);
  --brand-red: rgb(237, 28, 36);
  --brand-crimson: rgb(206, 14, 45);
  --brand-pink: rgb(221, 23, 129);
  --brand-purple: rgb(100, 77, 144);
  
  --seasonal-green: rgb(149, 201, 61);
  --seasonal-orange: rgb(255, 127, 64);
  --seasonal-red: rgb(219, 0, 50);

  --brand-wildfuscia: var(--brand-pink);
  --highlight-primary: rgb(254, 254, 254);
  --highlight-secondary: rgb(245, 245, 245);
  --highlight-tertiary: rgb(220, 220, 220);
  --highlight-quaternary: rgb(255, 255, 255);
  --highlight-quinary: rgb(230, 230, 230);

  --lowlight-primary: rgb(2, 2, 2);
  --lowlight-secondary: rgb(45, 45, 45);
  --lowlight-tertiary: rgb(118, 118, 118);
  --lowlight-quaternary: rgb(100, 100, 100);
  --lowlight-quinary: rgb(76, 76, 76);

  --accent-primary: var(--brand-blue);
  --accent-secondary: rgb(6, 103, 160);
  --accent-tertiary: rgb(157, 208, 230);
  --accent-quaternary: rgb(129, 177, 210);
  --accent-quinary: var(--brand-teal);

  --state-success: rgb(77, 122, 57);
  --state-caution: rgb(255, 245, 169);
  --state-error: rgb(204, 0, 0);
}

[theme="dark"] {
  --highlight-primary: rgb(25, 25, 25);
  --highlight-secondary: rgb(39, 40, 34);
  --highlight-tertiary: rgb(61, 62, 56);
  --highlight-quaternary: #111;
  --highlight-quinary: #222;
  --lowlight-primary: #bb86fc;
  --lowlight-secondary: #4e1b96;
  --lowlight-tertiary: #018786;
  --lowlight-quaternary: rgb(59, 221, 174);
  --accent-primary: #bb86fc;
  --accent-secondary: #3700b3;
  --accent-tertiary: rgb(59, 221, 174);
  --accent-quaternary: #4e1b96;
  --state-success: darkgreen;
  --state-caution: olive;
  --state-error: darkred;
}
