$timing: 1s;

sh-curtain {
  .sh-curtain {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    // max-height: 0;
    background: rgba(25, 25, 25, 0.5);
    z-index: 8;
    pointer-events: none;
    transition: opacity 1s $ease 5ms, max-height 0 linear 1s;

    &.active {
      opacity: 1;
      max-height: initial;
      pointer-events: initial;
    }

    .nav-trigger {
      z-index: 10;
    }
  }
}
