/* default styling */

sh-tabs {
  display: block;
  .sh-tabs {
    display: flex;
    align-items: flex-start;

    > * {
      display: block; 
      width: 100%;
    }

    sh-button.active {
      background: $highlight-tertiary;
    }
  }
}
