nav {
  display: block;
  a {
    color: $highlight-primary;
  }
}

#nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 300ms ease-in-out;
  transform: translateX(-100%) translateZ(0);
  color: $highlight-primary;
  z-index: 9;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .go-back {
    padding: 3rem;
    line-height: 3rem;
    width: 40rem;
    transition: all 100ms linear;
    cursor: pointer;
    background: $accent-quinary;
    position: fixed;
    top: 0;
    display: none;
    &:hover {
      background: $accent-tertiary;
    }
  }
  .primary {
    width: 32rem;
    background: $lowlight-primary; 
    min-height: 100vh;
    // padding-top: 9rem;
    @include scroll-y;
    @include no-scroll-bar;
    @include box-shadow(2);
    a {
      display: block;
      line-height: 6.5rem;
      padding: 0 3rem;
      font-size: 2rem;
      transition: all 100ms linear;
      position: relative;
      &:hover,
      &.active {
        background:$lowlight-tertiary;
      }
    }
  }

  .secondary {
    width: calc(100% - 50rem);
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    font-size: 1.8rem;
    &.active { // for later
      opacity: 1;
      pointer-events: auto;
    }
    a {
      color: $highlight-primary;
      display: block;
      padding: 0.5rem 1rem;
      &:hover {
        color: $accent-tertiary;
        background: rgba(255,255,255,0.02)
      }
    }
    > div { // lol, will fix
      position: absolute;
      // column-count: 3;
      flex-direction: column;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 3rem;
      transform: translateX(-100%);
      &.active {
        transform: translateX(0);
      }
      @include scroll-y;
    }
    h2 {
      font-size: 2rem;
      break-after: avoid;
      break-after: avoid;
      margin-top: 3rem;
    }
    ul {
      max-width: 30rem;
      line-height: 3rem;
      break-before: avoid;
    }
    li {
      break-inside: avoid;
    }
  }
  
}

@media (min-width: $breakpoint) {
}


//   #nav {
//     background: $lowlight-secondary;
//     .primary > ul{
//       width: 100rem;
//       margin-left: auto;
//       margin-right: auto;
//       display: flex;
//       justify-content: space-evenly;
//       a {
//         display: block;
//         padding: 1rem 1rem;
//         color: $highlight-primary;
//         background: $lowlight-secondary;
//       }
//     }

//     .secondary {
//       display: none;
//     }
//   } 