<%- htmlWebpackPlugin.options.docsHead %>

<title><%= htmlWebpackPlugin.options.title %></title>

<div class="documentation contain">
  <h1>button</h1>
  <section id="usage">
    <h2>Usage</h2>
    <pre>
        <code class="language-html">
          &lt;sh-button&gt;
            Button Text
          &lt;/sh-button&gt;
        </code>
      </pre>
  </section>

  <section id="reference" class="baseline30">
    <h2>Reference</h2>
    <h3 id="attributes">Attributes</h3>

    <table class="attributes">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>variant</td>
          <td>String</td>
          <td>
            <ul>
              <li>Style variant.</li>
              <li>Defaults to 'primary'.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>toggle</td>
          <td>Boolean</td>
          <td>
            <ul>
              <li>Make button have a toggle state.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>round</td>
          <td>Boolean</td>
          <td>
            <ul>
              <li>Round button edges.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Size</td>
          <td>String</td>
          <td>
            <ul>
              <li>Change the size of the button.</li>
              <li>Option: "sm"</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>click-event</td>
          <td>String</td>
          <td>
            Configure a button to emit a specific event on click. 
          </td>
        </tr>
      </tbody>
    </table>

    <h3 id="slots">Slots</h3>
    <table class="slots">
      <thead>
        <tr>
          <th>Slot</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><em>default</em></td>
          <td>
            The text content of the button.
          </td>
        </tr>
        <tr>
          <td>before-icon</td>
          <td>
            <a href="https://material.io/tools/icons/?style=baseline" target="_icons">Material Icon</a> that comes
            before the text.
          </td>
        </tr>
        <!-- <tr>
          <td>active-before-icon</td>
          <td>
            <a href="https://material.io/tools/icons/?style=baseline" target="_icons">Material Icon</a> that comes
            before the text when the 'active' prop has been toggled true.
          </td>
        </tr> -->
        <tr>
          <td>after-icon</td>
          <td>
            <a href="https://material.io/tools/icons/?style=baseline" target="_icons">Material Icon</a> that comes after
            the text.
          </td>
        </tr>
        <!-- <tr>
          <td>active-after-icon</td>
          <td>
            <a href="https://material.io/tools/icons/?style=baseline" target="_icons">Material Icon</a> that comes after
            the text when the 'active' prop has been toggled true.
          </td>
        </tr> -->
      </tbody>
    </table>

    <h3 id="events">Events</h3>

    <table class="events">
      <thead>
        <tr>
          <th>Event</th>
          <th>Payload Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>click</td>
          <td>
            String
          </td>
          <td>
            <ul>
              <li>Fires when the button is clicked.</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="examples">
    <h2>Examples</h2>
    <!-- <lib-toolbar>
      <sh-button variant="primary" toggle>Toggle Button</sh-button>
      <sh-button variant="primary">
        <i class="material-icons" slot="before-text">close</i>With Icon<i class="material-icons" slot="after-text">check</i>
      </sh-button>
      <sh-button variant="primary">With Active Icon</sh-button>
    </lib-toolbar> -->

    <h3 class="margin-b-little" id="variants">Variants</h3>
    <lib-toolbar>
      <sh-button variant="primary">Primary</sh-button>
      <sh-button variant="secondary">Secondary</sh-button>
      <sh-button variant="tertiary">Tertiary</sh-button>
    </lib-toolbar>

    <h3 class="margin-b-little" id="with-icon">With Icon</h3>
    <lib-toolbar>
      <sh-button variant="primary" icon="arrow-right">Primary</sh-button>
      <sh-button variant="secondary" icon="arrow-right">Secondary</sh-button>
      <div class="pad-t"></div>
      <sh-button variant="tertiary" size="sm" before-icon="print">Print</sh-button>
    </lib-toolbar>

    <h3 class="margin-b-little" id="size">Size</h3>
    <lib-toolbar>
      <sh-button variant="primary" size="sm">Primary Small</sh-button>
      <sh-button variant="primary">Primary Default</sh-button>
      <div class="pad-t"></div>
      <sh-button variant="secondary" size="sm">Secondary Small</sh-button>
      <sh-button variant="secondary">Secondary Default</sh-button>
      <div class="pad-t"></div>
      <sh-button variant="tertiary" size="sm">Tertiary Small</sh-button>
      <sh-button variant="tertiary">Tertiary Default</sh-button>
      <div class="pad-t"></div>
      <sh-button variant="primary" full>Primary Default Full</sh-button>
      <sh-button variant="secondary" full>Secondary Default Full</sh-button>
      <sh-button variant="tertiary" full>Tertiary Default Full</sh-button>
    </lib-toolbar>

    <h3 class="margin-b-little" id="round">Round</h3>
    <lib-toolbar>
      <sh-button round variant="primary">Primary</sh-button>
      <sh-button round variant="secondary">Secondary</sh-button>
      <sh-button round variant="tertiary">Tertiary</sh-button>
    </lib-toolbar>

    <h3 class="margin-b-little">Round Values</h3>
    <lib-toolbar>
      <sh-button round="left" variant="primary">Left</sh-button>
      <sh-button round="right" variant="primary">Right</sh-button>
      <sh-button round="top" variant="primary">Top</sh-button>
      <sh-button round="bottom" variant="primary">Bottom</sh-button>
    </lib-toolbar>

    <h3 class="margin-b-little" id="buttongroup">Button Groups w/ <code>belk-flex</code></h3>
    <lib-toolbar>
      <belk-flex variant="buttons">
        <sh-button variant="tertiary">Cancel</sh-button>
        <sh-button variant="primary" type="submit">Submit</sh-button>
        <sh-button variant="secondary">Reset</sh-button>
      </belk-flex>
    </lib-toolbar>

    <!-- <h3 class="margin-b-little" id="scaling">Scaling</h3>
    <lib-toolbar>
      <div class="pad-t-little">
        <sh-button scale="120" variant="primary">Primary</sh-button>
      </div>
      <div class="pad-t-little">
        <sh-button scale="110" variant="primary">Primary</sh-button>
      </div>
      <div class="pad-t-little">
        <sh-button variant="primary">Primary</sh-button>
      </div>
      <div class="pad-t-little">
        <sh-button scale="90" variant="primary">Primary</sh-button>
      </div>
      <div class="pad-t-little">
        <sh-button scale="80" variant="primary">Primary</sh-button>
      </div>
      <div class="pad-t-little">
        <sh-button scale="70" variant="primary">Primary</sh-button>
      </div>
      <div class="pad-t-little">
        <sh-button scale="60" variant="primary">Primary</sh-button>
      </div>
      <div class="pad-t-little">
        <sh-button scale="50" variant="primary">Primary</sh-button>
      </div>
    </lib-toolbar> -->
    
  </section>

  <section id="changelog">
    <h2>Changelog</h2>
    <dl>
      <dt>1.0.0</dt>
      <dd>Component was created.</dd>
      <dt>2.0.0</dt>
      <dd>Style was changed.</dd>
      <dd>Scaling was removed.</dd>
      <dd>Icon handling and animation added.</dd>
    </dl>
  </section>
</div>

<%- htmlWebpackPlugin.options.docsFoot %>
