<h3 id="with-icon">Button With Icon</h3>
<lib-toolbar>
    <sh-button variant="primary" icon="arrow-right">Primary</sh-button>
    <sh-button variant="secondary" icon="arrow-right">Secondary</sh-button>
    <spacer></spacer>
    <sh-button variant="tertiary" size="sm" before-icon="print">Print</sh-button>
    <spacer></spacer>
    <sh-button variant="primary" before-icon="padlock">Secure Checkout</sh-button>
</lib-toolbar>