/* default styling */

sh-nav-item {
  .sh-nav-item {
    display: inline-flex;
    color: $lowlight-primary;
    &:hover {
      a {
        background: $lowlight-primary;
        color: $highlight-primary;
        &:after {
          opacity: 1;
        }
      }
    }
    a {
      position: relative;
      display:  flex;
      align-items: center;
      padding: 0 2rem;
      height: 5rem;
      font-size: 1.4rem;
      text-transform: uppercase;
      color: inherit;
      transition: all 150ms $ease;

      &:after {
        display: block;
        content: '';
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 1rem 1rem 0 1rem;
        border-color: $lowlight-primary transparent transparent transparent;
        z-index: 2;
        opacity: 0;
        transition: all 150ms $decel;
      }
    }
  }

  .actual>* {
    background: $highlight-primary;
    color: $lowlight-primary;
    border: 1px solid $lowlight-primary;
  }

  .actual {
    width: 100%;

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-top: 0;
    }
  }

  // TODO: enter-active-class demos
}
