/* default styling */

sh-nav-item {
  .sh-nav-item {
    display: inline-flex;
    > a {
      display: block;
    }
  }
  .actual > * {
    background: $lowlight-primary;
    color: $highlight-primary;
  }

  // TODO: enter-active-class demos
}
  