<%- htmlWebpackPlugin.options.docsHead %>

<title><%= htmlWebpackPlugin.options.title %></title>

<div class="documentation contain">
  <h1>Popper</h1>
  <section id="usage">
    <h2>Usage</h2>
    <pre>
      <code class="language-html">
        &lt;sh-popper&gt;
          &lt;span slot="reference"&gt;
            Hover me!
          &lt;/span&gt;
          &lt;div slot="content"&gt;
            Something interesting.
          &lt;/div&gt;
        &lt;/sh-popper&gt;
      </code>
    </pre>
  </section>

  <section id="reference" class="baseline30">
    <h2>Reference</h2>
    <h3 id="attributes">Attributes</h3>

    <table class="attributes">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>has-curtain</td>
          <td>Boolean</td>
          <td>Show overlay when popper is active.</td>
        </tr>
        <tr>
          <td>trigger</td>
          <td>String</td>
          <td>
            <ul>
              <li>
                Configures the default trigger mode for this popper.
              </li>
              <li>Options are <code>hover</code> and <code>click</code></li>
              <li>Defaults to <code>hover</code></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <h3 id="slots">Slots</h3>

    <table class="slots">
      <thead>
        <tr>
          <th>Slot</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>reference</td>
          <td>
            Trigger element.
          </td>
        </tr>
        <tr>
          <td>content</td>
          <td>
            Popper content.
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <h3 id="methods">Public Methods</h3>

    <table class="methods">
      <thead>
        <tr>
          <th>Function</th>
          <th>Params</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>snap</td>
          <td>
            <ul>
              <li>
                none
              </li>
            </ul>
          </td>
          <td>
            Perform snap animation and halve text.
          </td>
        </tr>
      </tbody> 
    </table>

    <h3 id="events">Events</h3>

    <table class="events">
      <thead>
        <tr>
          <th>Event</th>
          <th>Payload Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>event-name</td>
          <td>
            Type
          </td>
          <td>
            Fires when something happens.
          </td>
        </tr>
      </tbody>
    </table>-->
  </section>

  <section id="examples">
    <h2>Examples</h2>
    <h3>Default</h3>
    <lib-toolbar>
      <sh-popper reference-id="someid">
        <span slot="reference">Hover here!</span>
        <div slot="content">
          This is the content!
        </div>
      </sh-popper>
    </lib-toolbar>

    <h3>Click Trigger</h3>
    <lib-toolbar>
      <sh-popper trigger="click">
        <div slot="content">
          This is the content!
        </div>
        <span slot="reference">Click here!</span>
      </sh-popper>
    </lib-toolbar>
  </section>

  <section id="changelog">
    <h2>Changelog</h2>
    <dl>
      <dt>0.1.0</dt>
      <dd>Popper is under development.</dd>
    </dl>
  </section>
</div>

<%- htmlWebpackPlugin.options.docsFoot %>
