/* default styling */
html.nav-open,
html.nav-open body {
  overflow: hidden;
}

belk-nav {
  display: none;
  flex-grow: 0;
  flex-shrink: 0;
  @include lg {
    display: block;
  }
  .belk-nav {
    display: flex;
    height: 100%;
    &.active {
      max-height: 100%;
      pointer-events: all;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      box-shadow: inset 0 2px 5px rgba(25,25,25,0.25);
      pointer-events: none;
    }
    // .spacer {
    //   width: calc((100vw - (96rem - 3.2rem)) / 2);
    //   height: 100%;
    //   @include xl {
    //     width: calc((100vw - (128rem - 3.2rem)) / 2);
    //   }
    // }
    a {
      display: block;
    }
    .contain {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      pointer-events: none;
      .nav-categories {
        pointer-events:  all;
        height: 100%;
        * {
          height: 100%;
        }
      }
    }
    [category] {
      position: fixed;
      top: var(--header-height);
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      height: 60rem;
      max-height: calc(100vh - var(--header-height));
      pointer-events: none;
      background: $highlight-primary;
      overflow-y: auto;
      display: flex;
      flex-direction: row;
      @include box-shadow(2);
      &.active {
        opacity: 1;
        pointer-events: all;
      }
      ul {
        list-style: none;
      }
    }
    .nav-actual {
      position: relative;
      flex-grow: 0;
      h2 {
        font-size: 1.2rem;
      }
      a {
        padding: 0 $micro;
        line-height: 3.2rem;
        font-size: 1.2rem;
        &:hover {
          @include beas-border-left;
        }
      }
    }
    .nav-main {
      background: $highlight-secondary;
      padding: $little;
      max-width: 26rem;
      min-width: 26rem;
      margin: $rem 0;
      height: calc(100% - 6.4rem);
      h2 {
        font-size: 1.8rem;
        padding: 0 $micro;
        line-height: 2.6rem;
      }
    }
    .nav-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: $rem;
      margin-left: $little;
      margin-bottom: auto;
      max-width: 700px;
    }
    .grid-item {
      width: 33%;
      padding: $little;
    }
    .topcat > li > a {
      font-weight: bold;
    }
    sh-masonry {
      height: 100%;
      width: 100%;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      .masonry-grid {
        padding-left: 2.5rem;
        line-height: 2.8rem;
        font-size: 1.4rem;
        .view-all { display: none; }
      }
    }
    .nav-categories {
      flex-grow: 0;
      flex-shrink: 0;
      font-size: 1.2rem;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
      }
      [main] {
        position: relative;
      }
      [main] a {
        line-height: 4.8rem;
        padding: 0 0.8rem; 
      }
      [main].active,
      [main]:focus {
        // background: $highlight-secondary;
        @include beas-border-bottom;
        a {
          background: none;
        }
      }
    }
  }
}
