
$buttonWidth: $rem;

.belk-drawer {
  position: fixed;
  z-index: 4;
  overflow: hidden;
  opacity: 1;
  pointer-events: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: all 300ms $ease, opacity 350ms linear;
  transition-delay: 10ms;
  transform-origin: top center;
  background: rgba(0,0,0,0);
  &::before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(ellipse at bottom, rgba(255,255,255,0) 5%, rgba(0,0,0,0.4) 20%,  rgba(0,0,0,0.8));
    opacity: 0;
    transition: opacity 400ms $decel;
    pointer-events: none;
  }
  &[offscreen] {
    .content {
      transform: translateZ(0) translateY(150%) !important;
    }
  }
  &[drawer="bottom"] {
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100vh;
    transform: translateY(0) translateZ(0);
    transition: none !important;
    overflow: visible;
    
    &.active {
      max-height: initial;
      height: auto;
      @include md {
        transform: translateX(0) translateY(0) translateZ(0) scale(1) rotate(0) !important;
      }
      .drawer-toggle {
        background: $highlight-primary;
        color: $lowlight-quinary; 
        border-color: $lowlight-quinary;
        .dt-headline {
          font-size: 1.8rem;
          color: $lowlight-primary;
        }
        .dt-subhead {
          font-size: 1.2rem;
          color: $lowlight-quinary;
        }
        .dt-icon {
          color: $lowlight-primary;
          belk-icon {
            transform: rotate(180deg);
          }
        }
      }
      .content {
        transform: translateY(0) translateZ(0);
      }
    }

    &[attract] {
      pointer-events: none;
      transition: opacity 250ms linear;
      &::before {
        position: absolute;
        opacity: 1;
      }
      .arrow,
      .offer-container::before,
      .offer-container::after {
        max-width: 0;
      }
      .wiggle {
        animation: wiggle 1s;
      }
      .content {
        transform: translateY(80%) translateZ(0);
        background: $lowlight-secondary;
      }
    }

    .drawer-toggle, 
    .drawer-toggle > * {
      transition: all 100ms linear;
    }

    .drawer-toggle {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%) translateY(-100%) translateZ(0);
      border: 1px solid transparent;
      border-bottom: none;
      background: $lowlight-secondary;
      color: $highlight-primary;
      cursor: pointer;
      padding: 0.5rem $little;
      border-radius: 0.5rem 0.5rem 0 0;
      display: flex;
      font-family: 'Roboto', sans-serif;

      .dt-headline {
        font-size: 1.8rem;
        line-height: 2rem;
        white-space: pre;
      }
      .dt-subhead {
        font-size: 1.2rem;
        line-height: 1.6rem;
        white-space: pre;
      }

      .dt-icon {
        belk-icon {
          transform-origin: center center;
          transition: all 100ms linear;
        }
        margin-left: $little;
        height: 100%;
        margin-top: 0.25rem;
      }
    }

    .content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      max-width: 100%;
      transform: translateY(100%) translateZ(0);
      transition: all 300ms $decel;
      overflow: visible;
      border-top: 1px solid $lowlight-quinary;
    }
  }
  &[scrolling] {
    .offer-container {
      justify-content: flex-start;
      &::before { content: ''; min-width: $buttonWidth; }
      &::after { content: ''; min-width: $buttonWidth; }
    }
  }

  .hide-body {
    opacity: 0.5;
    display: none;
    transition-delay: display 300ms;
  }

  .content {
    position: relative;
    background: $highlight-primary;
    pointer-events: all;
    width: 100%;
    min-height: 12rem;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0;
    height: 100%;
    overflow-y: auto;
    height: auto;
  }

  .offer-container {
    justify-content: center;
    padding: $little 0;
  }

  .body {
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    position: relative;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    .arrow {
      position: fixed;
      top: 0;
      bottom: 0;
      border: 0;
      outline: 0;
      background: $highlight-primary;
      width: $buttonWidth;
      z-index: 2;
      color: $lowlight-quaternary;
      cursor: pointer;
      &.previous {
        left: 0;
      }
      &.next {
        right: 0;
      }
    }
    .arrow[disabled] {
      color: $highlight-secondary;
    }
  }

  [close-trigger] {
    cursor: pointer;
  }

  .slides belk-coupon {
    height: 100%;
  }

  belk-coupon {
    flex-grow: 1;
  }

  .belk-coupon {
    width: 260px;

    .coupon-description {
      order: 2;
      text-align: left;
    }

    .coupon-wrapper {
      padding: $little;
      padding-bottom: 0;
      justify-content: flex-start;
    }
  
    .coupon-buttons {
      margin-top: 0;
      flex-direction: row;
      white-space: pre;
      sh-button {
        font-size: 7px;
        margin-top: 0;
        flex-grow: 0;
        + sh-button {
          margin-left: 0.8rem;
        }
      }
    }

    .coupon-extra,
    .coupon-discount,
    .coupon-ends,
    .coupon-event-name,
    .coupon-use-code,
    .coupon-upc,
    .coupon-print {
      max-height: 0;
      overflow: hidden;
      margin: 0;
    }

    .coupon-spacer {
      display: none;
    }
  }

  .controls {
    >* {
      height: 4.5rem;
      width: 4.5rem;
      color: $lowlight-primary;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: absolute;
      // border-radius: 5px;
      outline: 0;
      border: 1px solid $highlight-primary;
      background: $highlight-primary;
    }

    .arrow {
      top: 50%;
      transform: translateY(-50%);
      width: 4.5rem;
      &.next {
        right: 0;
      }
      &.previous {
        left: 0;
      }
    }
  }
}

@keyframes wiggle {
  0% {
    transform: translateY(80%) translateZ(0);
  }
  25% {
    transform: translateY(75%) translateZ(0);
  }
  50% {
    transform: translateY(80%) translateZ(0);
  }
  100% {
    transform: translateY(75%) translateZ(0);
  }
}


.IE11 .belk-drawer button.arrow {
  display: none !important;
}