/* default styling */

belk-price {
  display: inline-flex;
  .belk-price {
    color: red;
  }

  .original {
    font-weight: normal;
    color: $lowlight-quaternary;
    text-decoration: line-through;
  }
}
