.belk-price {
  &.is-on-sale {
    .original {
      text-decoration: line-through;
      font-weight: normal;
      color: $lowlight-quinary;
    }
  }

  .price {
    .sale {
      color: #c00;
    }
  }
}
