.belk-search {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
  flex-grow: 1;
  order: 1;
  // &.active {
  //   max-width: 100%;
  //   &~ * {
  //     max-width: 0 !important;
  //     overflow: hidden;
  //   }
  // }

  .search-input {
    display: flex;
    background: $highlight-primary;
    width: 60%;
    flex-grow: 1;
    border: 1px solid $lowlight-primary;
    input {
      width: 90%;
      flex-grow: 1;
    }
  }

  button, 
  input {
    display: flex;
    background: none;
    border: none;
    outline: 0;
    height: 3.6rem;
    min-width: 3.6rem;
    &:hover {
      background: $highlight-secondary;
    }
  }
  input {
    padding: 0 1rem;
  }
  button {
    justify-content: center;
    cursor: pointer;
  }

  .search-results {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    top: 100%;
    width: 100%;
    left: 0;
    background: $highlight-primary;
    color: $lowlight-primary;
    border: 1px solid $highlight-secondary;
    > div {
      width: 100%;
      padding: 1rem;
    }

    .search-suggestions {
      display: flex;
      > div {
        width: 50%;
        flex-grow: 2;
      }
    }
  }

  .cancel-trigger {
    display: none;
  }

  &[active] {
    .cancel-trigger {
      display: block;
    }
  }

  .search-recent {
    border: 1px solid white
  }
  
  @media (min-width: breakpoint("lg")) {
    .belk-search.active ~ * {
      max-width: initial;
    }
  }

  ul { list-style: none; padding: 0; margin: 0 }
}
