belk-search[variant="mobile"] {
  flex-grow: 1;
  flex-shrink: 0;

  .belk-search {
    z-index: auto;
    &[state="0"] {
      .search-results {
        background: transparent;
      }
    }
    &.focused {
      .search-results {
        left: 0;
        right: 0;
        top: 48px;
        .search-recent,
        .search-suggestions {
          height: 100%;
          overflow: scroll;
          -webkit-overflow-scrolling: touch;
          padding-bottom: 50px;
        }

        .search-suggestions {
          padding-bottom: 100px;
        }
      }
    }
    button.clear-search {
      visibility: visible;
    }
  }

  // &+.sh-button {
  //   color: #000;
  //   margin-right: 9px;
  //   min-width: unset;
  //   padding: 0;
  //   text-transform: none;
  //   font-size: 12px;
  //   font-weight: 400;
  //   text-decoration: none;
  // }
}