belk-search[variant="modal"] {

    .belk-search.focused .search-results {
        position: fixed;
        top: 50px;
        left: 0;
        bottom: 0;
        border-top: 1px solid;
        right: 0;
    }
}