<%- htmlWebpackPlugin.options.docsHead %>

<title><%= htmlWebpackPlugin.options.title %></title>

<div class="documentation contain">
  <h1>Belk Facet Toggle</h1>
  <section id="usage">
    <h2>Usage</h2>
    <pre>
      <code class="language-html">
          &lt;belk-facet-toggle&gt;&lt;/belk-facet-toggle&gt;
      </code>
    </pre>

    <p>Used in belk-facet-nav to create a list of links that disable facets.</p>

  </section>

  <section id="reference" class="baseline30">
    <h2>Reference</h2>
    <h3 id="attributes">Attributes</h3>

    <table class="attributes">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>hidden</td>
          <td>Boolean</td>
          <td>Hide from view.</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section id="changelog">
    <h2>Changelog</h2>
    <dl>
      <dt>1.0.0</dt>
      <dd>Belk Facet Toggle is ready for use.</dd>
    </dl>
  </section>

  <!-- Uncomment this section when you have written requirements in the schema.json!
    <section id="requirements">
    <h2>Requirements</h2>
    <lib-reqs></lib-reqs>
  </section> -->
</div>

<%- htmlWebpackPlugin.options.docsFoot %>
