/* default styling */

belk-mobile-nav {
  .belk-mobile-nav {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transition-delay: 10ms;
    transform-origin: top center;
    overflow: hidden;

    &.active {
      opacity: 1 !important;
      pointer-events: all;
      .overlay {
        opacity: 1;
      }
      .container {
        transform: translateX(0) translateZ(0);
        opacity: 1;
      }
    }

    button {
      padding-top: 0; // stupid default styles...
      padding-bottom: 0; // stupid default styles...
    }

    .overlay{
      @include background-opacity($lowlight-primary, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: all 300ms $ease, opacity 350ms linear;
    }

    .scroll-y {
      @include scroll-y;
    }

    .container {
      display: flex;
      flex-direction: column;
      transform: translateX(-100%) translateZ(0);
      transition: all 300ms $ease, opacity 350ms linear;
      overflow-x: hidden;
      overflow-y: hidden;
      @include no-scroll-bar();
      background: $highlight-primary;
      height: 100vh;
      width: 100vw;
      max-width: calc(100% - 5.5rem);
      opacity: 1;
      @include lg {
        max-width: 78rem;
      }
    }

    nav.secondary {
      margin-top: auto;
      background: $highlight-secondary;
      border-top: 1px solid $highlight-tertiary;
      padding-bottom: 13rem;
      font-size: 1.4rem;
      [data-fill="name"][filled="true"] {
        &:before {
          content: 'Hi, ';
        }
      }
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
        }
      }
      a {
        display: block;
        padding-left: $micro;
        color: $lowlight-primary;
        line-height: 3.4rem;
        text-decoration: none;
      }
      .heading {
        text-transform: uppercase;
        white-space: nowrap;
        display: flex;
        align-items: center;
        color: $lowlight-quaternary;
        padding-left: $micro;
        &:after {
          display: block;
          content: '';
          text-transform: uppercase;
          background: $lowlight-quaternary;
          margin-left: $micro;
          height: 1px;
          width: 80%;
          flex-shrink: 1;
        }
      }
    }

    button.top {
      outline: 0;
      border: 0;
      cursor: pointer;
      width: 100%;
      position: sticky;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      background-color: $highlight-secondary;
    }

    sh-accordion[sub="false"] {
      .body {
        display: none !important;
      }
      button.header {
        div, a {
          display: flex;
          width: 100%;
        }
        i {
          display: none !important;
        }
      }
    }

    .view-all {
      display: flex;
      a { 
        width: 100%; 
        padding-left: $rem;
      }
    }

    ul.l3 {
      list-style: none;
      li {
        display: flex;
        a {
          display: flex;
          width: 100%;
          padding-left: $big;
          text-decoration: none;
          border-top: 1px solid $highlight-tertiary;
        }
      }
    }

    .link-header {
      border-top: 1px solid $highlight-tertiary;
    }

    button.header,
    .link-header {
      line-height: 4.6rem;
      padding-left: $micro;
      padding-right: $micro;
      font-size: 1.8rem;
      font-weight: bold;
      color: $lowlight-primary;
      a {
        color: $lowlight-primary;
        display:  block;
        text-decoration: none;
      }
      i {
        font-size: 2.2rem;
        display: flex;
        color: $lowlight-quaternary;
      }
    }

    .sh-accordion {
      border-top: 1px solid $highlight-tertiary;
      .accordion-collapse {
        transition: none;
      }
      .body .header {
        font-weight: normal;
        padding-left: $rem;
        font-size: 1.4rem;
      }
      .body {
        line-height: 4.6rem;
        border-top: 1px solid $highlight-tertiary;
      }

      .sh-accordion .body {
        border-top: none;
      }
    }
  }
}
