/* default styling */

belk-takeover {
  display: block;
  .belk-takeover {
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    &.active {
      max-height: 100vh;
      opacity: 1;
    }
  }
}
