/* default styling */

belk-offer-details[variant="modal"] {
  .belk-offer-details {
    min-height: 90vh;
    .images {
      display: flex;
      overflow-x: auto;
      flex-wrap: nowrap;
      margin: 0 auto;
      @include no-scroll-bar;
    }
    .image {
      height: 20rem;
      width: 16rem;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      + .image {
        margin-left: $little;
      }
    }
    .name {
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        height: 0.2rem;
        top: -0.8rem;
        left: 0.8rem;
        width: 6.7rem; // wtf really
        background: $lowlight-tertiary;
      }
    }
    .gifts {
      margin-bottom: auto;
    }
  }
}
