/* default styling */

belk-offer-details[variant="modal"] {
  .belk-offer-details {
    padding-top: $rem;
    .image {
      height: 6rem;
      width: 6rem;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
  }
}
