.sh-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-130%);
  transition: transform 300ms $ease;
  transition-delay: 50ms;
  height: 0;
  overflow: hidden;
  .content {
    background: #fff;
    height: 100%;
    max-width: 102rem;
    margin: 12rem auto;
    padding: $base;
    @include box-shadow(1);
  }
  &.active {
    transform: translateX(0);
    .content {
      border: 1px solid #ccc;
    }
  }
  header {
    background: $accent-primary;
    margin: -$base;
    margin-bottom: 3rem;
    position: sticky;
    top: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    i {
      color: $accent-tertiary;
      font-size: $base;
    }
  }
  footer {
    padding: 0.5rem $base;
    margin: -$base;
    margin-top: 0;
  }
  h1 {
    margin: 0 !important;
    padding-left: $base;
    color: $highlight-primary;
  }
  
  [close-trigger] {
    cursor: pointer;
  }
}
