.sh-modal[variant="primary"] {
  .content {
    @include md {
      height: auto;
      overflow-y: auto;
      margin: 16.7rem auto;
      margin-left: 0;
      max-width: calc(100% - 5.5rem);
    }
    @include lg {
      margin-right: 1.5rem;
      margin-left: 0;
      max-width: 78rem;
    }
  }
  .modal-title {
    color: $lowlight-primary;
    h3 {
      font-size: 18px;
    }
  }
}
