<%- htmlWebpackPlugin.options.docsHead %>

<title><%= htmlWebpackPlugin.options.title %></title>

<div class="documentation contain">
  <h1>Belk Flex</h1>
  <section id="usage" class="baseline30">
    <h2>Usage</h2>
    <p>This is a sub-component for other implementations, not to be used stand-alone.</p>

    <p>The <code>belk-flex</code> component was created to be able to pre-configure flex layouts and functionality for specific scenarios.</p>

  </section>

  <section id="changelog">
    <h2>Changelog</h2>
    <dl>
      <dt>0.1.0</dt>
      <dd>Belk Flex is under development.</dd>
    </dl>
  </section>

  <!-- Uncomment this section when you have written requirements in the schema.json!
    <section id="requirements">
    <h2>Requirements</h2>
    <lib-reqs></lib-reqs>
  </section> -->
</div>

<%- htmlWebpackPlugin.options.docsFoot %>
