$highlight-primary: rgb(254, 254, 254);
$highlight-secondary: rgb(245, 245, 245);
$highlight-tertiary: rgb(220, 220, 220);
$highlight-quaternary: rgb(255, 255, 255);
$highlight-quinary: tomato;

$lowlight-primary: rgb(25, 25, 25);
$lowlight-secondary: rgb(39, 40, 34);
$lowlight-tertiary: rgb(41, 57, 115);
$lowlight-quaternary: rgb(100, 100, 100);
$lowlight-quinary: tomato;

$accent-primary: rgb(0, 115, 207);
$accent-secondary: rgb(6, 103, 160);
$accent-tertiary: rgb(157, 208, 230);
$accent-quaternary: rgb(129, 177, 210);
$accent-quinary: rgb(0, 131, 186);

$brand-belkblue: #0033a1;
$brand-wildfuscia: #df1783;
$brand-classicblue: #0071ce;
$brand-deepteal: #00afa8;
$brand-festivelime: #c2d500;
$brand-goldenhour: #ffda00;
$brand-peachyred: #fd495c;
$brand-mysticpurple: #773dbd;

$state-success: #4D7A39;

$ease: cubic-bezier(0.4, 0, 0.2, 1);
$decel: cubic-bezier(0, 0, 0.2, 1);
$accel: cubic-bezier(0.4, 0, 1, 1);

$docsGradient: linear-gradient(45deg, var(--brand-classicblue), var(--brand-deepteal));

$colors: (
  "transparent": transparent,
  "highlight-primary": $highlight-primary,
  "highlight-secondary": $highlight-secondary,
  "highlight-tertiary": $highlight-tertiary,
  "highlight-quaternary": $highlight-quaternary,
  "highlight-quinary": $highlight-quinary,
  "lowlight-primary": $lowlight-primary,
  "lowlight-secondary": $lowlight-secondary,
  "lowlight-tertiary": $lowlight-tertiary,
  "lowlight-quaternary": $lowlight-quaternary,
  "lowlight-quinary": $lowlight-quinary,
  "accent-primary": $accent-primary,
  "accent-secondary": $accent-secondary,
  "accent-tertiary": $accent-tertiary,
  "accent-quaternary": $accent-quaternary,
  "accent-quinary": $accent-quinary,
  "brand-belkblue": #0033a1,
  "brand-wildfuscia": #df1783,
  "brand-classicblue": #0071ce,
  "brand-deepteal": #00afa8,
  "brand-festivelime": #c2d500,
  "brand-goldenhour": #ffda00,
  "brand-peachyred": #fd495c,
  "brand-mysticpurple": #773dbd,
);

$libBreak: 800px;

$breakpoints: (
  "xs": 350px,
  "sm": 480px,
  "md": 768px,
  "lg": 960px,
  "xl": 1200px
);

@mixin xs {
  @media screen and (min-width: breakpoint("xs")) {
    @content;
  }
}
@mixin sm {
  @media screen and (min-width: breakpoint("sm")) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: breakpoint("md")) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: breakpoint("lg")) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: breakpoint("xl")) {
    @content;
  }
}

// OO-Class Generation

$box-model-mods: (
  "pad": "padding",
  "margin": "margin",
  "pull": "margin"
);

$edges: (
  "y": ("-top", "-bottom"),
  "x": ("-left", "-right"),
  "t": ("-top"),
  "b": ("-bottom"),
  "l": ("-left"),
  "r": ("-right")
);

$base: 3.2;

$rem: #{$base}rem;

$mod-amounts: ("-atomic": #{$base/8}rem,
  "-micro": #{$base/4}rem,
  "-little": #{$base/2}rem,
  "": $rem,
  "-big": #{$base*1.5}rem,
  "-huge": #{$base*2}rem,
  "-mega": #{$base*2.5}rem);
$inv: "";

$micro: #{$base/4}rem;
$little: #{$base/2}rem;
$big: #{$base*1.5}rem;
$huge: #{$base*2}rem;
$mega: #{$base*2.5}rem;

@each $mod, $prop in $box-model-mods {
  @if $mod=="pull" {
    $inv: "-";
  }

  @each $amt, $meas in $mod-amounts {
    .#{$mod}#{$amt} {
      #{$prop}: #{$inv}#{$meas};
    }

    @each $name, $edge in $edges {
      .#{$mod}-#{$name}#{$amt} {
        @each $act in $edge {
          #{$prop}#{$act}: #{$inv}#{$meas};
        }
      }
    }
  }
}
