
$highlight-primary: rgb(254,254,254);
$highlight-secondary: rgb(245,245,245);
$highlight-tertiary: rgb(220,220,220);
$highlight-quaternary: rgb(255,255,255);
$highlight-quinary: tomato;

$lowlight-primary: rgb(25,25,25);
$lowlight-secondary: rgb(39,40,34);
$lowlight-tertiary: rgb(41, 57, 115);;
$lowlight-quaternary: rgb(100,100,100);
$lowlight-quinary: tomato;

$accent-primary: rgb(0,131,186);;
$accent-secondary: rgb(6, 103, 160);
$accent-tertiary: rgb(157, 208, 230);
$accent-quaternary: rgb(129, 177, 210);
$accent-quinary: tomato;

$colors: (
  highlight-primary: $highlight-primary,
  highlight-secondary: $highlight-secondary,
  highlight-tertiary: $highlight-tertiary,
  highlight-quaternary: $highlight-quaternary,
  highlight-quinary: $highlight-quinary,

  lowlight-primary: $lowlight-primary,
  lowlight-secondary: $lowlight-secondary,
  lowlight-tertiary: $lowlight-tertiary,
  lowlight-quaternary: $lowlight-quaternary,
  lowlight-quinary: $lowlight-quinary,

  accent-primary: $accent-primary,
  accent-secondary: $accent-secondary,
  accent-tertiary: $accent-tertiary,
  accent-quaternary: $accent-quaternary,
  accent-quinary: $accent-quinary,
);

$breakpoint: 800px;

$base: 3rem;

$ease: cubic-bezier(0.4, 0.0, 0.2, 1);
$decel: cubic-bezier(0.0, 0.0, 0.2, 1);
$accel: cubic-bezier(0.4, 0.0, 1, 1);
