<%- htmlWebpackPlugin.options.docsHead %>

<title><%= htmlWebpackPlugin.options.title %></title>

<div class="documentation contain">
  <h1>Dropnav</h1>
  <section id="usage">
    <h2>Usage</h2>
    <pre>
      <code class="language-html">
          &lt;sh-dropnav&gt;
            &lt;ul&gt;
              &lt;li&gt;
                &lt;a href="https://google.com"&gt;Google&lt;/a&gt;
              &lt;/li&gt;
              &lt;li&gt;
                &lt;a href="https://apple.com"&gt;Apple&lt;/a&gt;
              &lt;/li&gt;
              &lt;li&gt;
                &lt;a href="https://netflix.com"&gt;Netflix&lt;/a&gt;
              &lt;/li&gt;
            &lt;/ul&gt;
          &lt;/sh-dropnav&gt;
      </code>
    </pre>

  </section>

  <section id="reference" class="baseline30">
    <h2>Reference</h2>
    <h3 id="attributes">Attributes</h3>

    <table class="attributes">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>event-only</td>
          <td>Boolean</td>
          <td>Prevent default navigation and instead emit an event that can be handled elsewhere.</td>
        </tr>
        <tr>
          <td>target</td>
          <td>String</td>
          <td>Opens links in a new tab.</td>
        </tr>
      </tbody>
    </table>

    <h3 id="slots">Slots</h3>

    <table class="slots">
      <thead>
        <tr>
          <th>Slot</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>default</td>
          <td>
            Unordered list of links.
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <h3 id="methods">Public Methods</h3> -->

        <!-- <table class="methods">
      <thead>
        <tr>
          <th>Function</th>
          <th>Params</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>snap</td>
          <td>
            <ul>
              <li>
                none
              </li>
            </ul>
          </td>
          <td>
            Perform snap animation and halve text.
          </td>
        </tr>
      </tbody>
    </table> -->

    <h3 id="events">Events</h3>

    <table class="events">
      <thead>
        <tr>
          <th>Event</th>
          <th>Payload Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>event-name</td>
          <td>
            Type
          </td>
          <td>
            Fires when something happens.
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="examples">
    <h2>Examples</h2>
    <h3>Using <code>[event-only]</code> Prevents Navigation</h3>
    <lib-toolbar>
      <sh-dropnav event-only>
        <ul>
          <li>
            <a href="#" data-value="t">Top</a>
          </li>
          <li>
            <a href="#" data-value="r">Right</a>
          </li>
          <li>
            <a href="#" data-value="b">Bottom</a>
          </li>
          <li>
            <a href="#" data-value="l">Left</a>
          </li>
        </ul>
      </sh-dropnav>
    </lib-toolbar>

    <h3>Using <code>[target]</code> Opens in Another Window</h3>
    <lib-toolbar>
      <sh-dropnav target="_new">
        <ul>
          <li>
            <a href="https://google.com">Google</a>
          </li>
          <li>
            <a href="https://apple.com">Apple</a>
          </li>
          <li>
            <a href="https://netflix.com">Netflix</a>
          </li>
        </ul>
      </sh-dropnav>
    </lib-toolbar>
  </section>

  <section id="changelog">
    <h2>Changelog</h2>
    <dl>
      <dt>1.0.0</dt>
      <dd>Dropnav was created.</dd>
    </dl>
  </section>
</div>

<%- htmlWebpackPlugin.options.docsFoot %>
