<%- htmlWebpackPlugin.options.docsHead %>

<title><%= htmlWebpackPlugin.options.title %></title>

<div class="documentation contain">
  <h1>Coupon</h1>
  <section id="usage">
    <h2>Usage</h2>
    <pre>
      <code class="language-html">
          &lt;belk-coupon&gt;&lt;/belk-coupon&gt;
      </code>
    </pre>

  </section>

  <section id="reference" class="baseline30">
    <h2>Reference</h2>
    <h3 id="attributes">Attributes</h3>

    <table class="attributes">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>hidden</td>
          <td>Boolean</td>
          <td>Hide from view.</td>
        </tr>
        <tr>
          <td>event-name</td>
          <td>String</td>
          <td>Name of the discount event.</td>
        </tr>
        <tr>
          <td>discount</td>
          <td>String</td>
          <td>Discount amount (number).</td>
        </tr>
        <tr>
          <td>extra</td>
          <td>Boolean</td>
          <td>Enable to show the 'extra' tag.</td>
        </tr>
        <tr>
          <td>code</td>
          <td>Number</td>
          <td>Event code. ex: "USECOUPON"</td>
        </tr>
        <tr>
          <td>upc</td>
          <td>Number</td>
          <td>Code128 UPC value.</td>
        </tr>
      </tbody>
    </table>

    <h3 id="slots">Slots</h3>

    <table class="slots">
      <thead>
        <tr>
          <th>Slot</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>description</td>
          <td>
            HTML friendly description.
          </td>
        </tr>
        <tr>
          <td>exclusions</td>
          <td>
            Exclusion modal content.
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="examples">
    <h2>Examples</h2>
    <h3>Default</h3>
    <div class="belk-coupons">
      <belk-coupon badge="Online Exclusive" discount="30" upc="12349876"></belk-coupon>
      <belk-coupon ends="concludes Feb 14, 2020" badge="In-Store Only" discount="88" event-name="Lost a Good One" code="GREGOLSEN" upc="12345678" extra>
        <div slot="exclusions">
          Here's some information about the coupon's exclusions.
        </div>
        <div slot="description">
          Here's a descriptive paragraph that <strong>is HTML friendly</strong>.
        </div>
      </belk-coupon>
      <belk-coupon badge="Online and In-Store" discount="30" to-spend="100" event-name="Dirty Thirty" code="GET SOME" upc="12349876">
        <div slot="exclusions">
          Here's some exclusions without a description... so the link is lower.
        </div>
      </belk-coupon>
    </div>
  </section>

  <section id="changelog">
    <h2>Changelog</h2>
    <dl>
      <dt>0.1.0</dt>
      <dd>Belk Coupon is under development.</dd>
    </dl>
  </section>
</div>

<%- htmlWebpackPlugin.options.docsFoot %>
