/* default styling */

belk-coupon {
  display: block;
}

.belk-coupons {
  display: flex;
  belk-coupon {
    flex-grow: 0;
    flex-shrink: 0;
    width: 300px;
  }
  belk-coupon + belk-coupon {
    margin-left: $little;
  }
}

.belk-coupon {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  min-width: 280px;
  border: 1px solid $lowlight-primary;
  &.printable {
    border-style: dashed;
    margin: 0 auto;
    max-width: 300px;
    .coupon-upc {
      display: flex;
      border: none;
      .coupon-logo {
        width: 120px;
        display: flex;
        align-items: center;
        margin-left: $little;
        padding-bottom: $little;
      }
    }
  }

  &.to-spend {
    .coupon-discount .coupon-secondary {
      line-height: $rem;
      margin-top: 5rem;
      .s-t {
        font-size: 4.2rem;
      }
      .s-b {
        font-size: $rem;
      }
    }
  }

  .coupon-spacer {
    flex-grow: 3;
    height: 100%;
    display: flex;
    align-items: center;
    background: $highlight-tertiary;
    padding: $little;
    &:after {
      display: block;
      content: attr(data-text);
    }
  }

  .coupon-wrapper {
    padding: $little $rem;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    color: $lowlight-primary;
    justify-content: flex-end;

    > * {
      display: flex;
      justify-content: center;
      margin-top: $little;
    }
  }

  .coupon-extra {
    font-family: proxima-nova, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: $rem;
    margin-bottom: -1rem;
    margin-top: -1rem;
    margin-right: 30%;
  }

  .coupon-discount {
    font-family: proxima-nova, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 13.2rem;
    margin-top: -2rem;
    margin-bottom: -$rem;

    .actual {
      display: flex;
      align-items: flex-start;
    }

    .dollar {
      font-size: 5rem;
      margin-top: $rem;
    }

    .coupon-secondary {
      line-height: 4.5rem;
      margin-top: 3.5rem;
      .s-t {
        font-size: 7rem;
        text-align: center;
      }
      .s-b {
        font-size: 4.2rem;
      }
    }
  }

  .coupon-type {
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: $lowlight-primary;
    border-bottom: 1px solid $lowlight-primary;
  }

  .coupon-event-name {
    font-size: 2.2rem;
    font-weight: 400;
  }

  .coupon-use-code {
    .actual {
      font-weight: bold;
      color: $lowlight-primary;
      margin-left: 1rem;
      text-transform: uppercase;
    }
  }

  .coupon-buttons {
    display: flex;
    flex-direction: column;

    sh-button {
      margin: 0;

      button {
        display: flex;
        &.active {
          background: $state-success;
          color: $highlight-primary;
          border-color: transparent;
          belk-icon {
            display: block;
          }
        }
        belk-icon {
          display: none;
          margin-right: 0.5rem;
        }
      }

      +sh-button {
        margin-top: $little;
      }
    }
  }

  .coupon-print {
    justify-content: flex-start;
    margin-top: -1.2em;
  }

  .coupon-description {
    font-size: 1.4rem;
    text-align: center;
    display: block;
  }

  .coupon-ends {
    font-weight: bold;
  }

  .coupon-upc {
    margin-top: $little;
    margin-left: -0.5em;
    margin-right: -0.5em;
  }

  .coupon-details {
    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .coupon-details-actual {
    font-size: 1rem;
  }
}
