/* default styling */

belk-coupon {
  display: block;
}

.belk-coupons {
  display: flex;
  belk-coupon {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.belk-coupon {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid $lowlight-primary;
  font-size: 16px;
  &.printable {
    border-style: dashed;
    margin: 0 auto;
    max-width: 300px;
    @media print {
      margin-top: 100px;
    }
    .coupon-spacer {
      display: none;
    }
    .coupon-upc {
      display: flex;
      border: none;
      height: auto;
      margin-top: $little;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      .coupon-logo {
        width: 25%;
        display: flex;
        align-items: center;
        padding-top: $little;
        position: absolute;
        right: 0;
      }
      belk-barcode {
        width: 70%;
        left: 0;
      }
    }
  }

  &.to-spend {
    .coupon-discount .coupon-secondary {
      line-height: $rem;
      margin-top: 5rem;
      .s-t {
        font-size: 42px;
      }
      .s-b {
        font-size: 32px;
      }
    }
  }


  .coupon-spacer {
    display: none;
    @include md {
      flex-grow: 3;
      height: 100%;
      display: flex;
      &:not([data-text]) {
        margin-top: auto;
        margin-bottom: 0;
      }
      &[data-text] {
        background: $highlight-secondary;
        font-size: 14px;
        padding: $little;
        align-items: center;
        text-align: center;
        &:after {
          display: block;
          content: attr(data-text);
        }
      }
    }
  }

  .coupon-image {
    img {
      width: 100%;
    }
  }

  .coupon-wrapper {
    padding: $rem;
    padding-top: $little;
    padding-bottom: 0;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    color: $lowlight-primary;
    justify-content: flex-start;

    > * {
      display: flex;
      justify-content: center;
      margin-bottom: $little;
    }
  }

  .coupon-extra {
    font-family: proxima-nova, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: $rem;
    min-height: $rem;
    margin-bottom: 0.5rem;
    position: relative;
    span {
      position: absolute;
      left: 50%;
      transform: translateX(-90%);
    }
  }

  .coupon-extra ~ .coupon-discount {
    margin-top: -$rem;
  }

  .coupon-discount {
    font-family: proxima-nova, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 13.2rem;
    margin-bottom: -2.5rem;

    .actual {
      display: flex;
      align-items: flex-start;
    }

    .dollar {
      font-size: 5rem;
      margin-top: $rem;
    }

    .coupon-secondary {
      line-height: 4.5rem;
      margin-top: 3.5rem;
      .s-t {
        font-size: 7rem;
        text-align: center;
      }
      .s-b {
        font-size: 4.2rem;
      }
    }
  }

  .coupon-type {
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: $lowlight-primary;
    border-bottom: 1px solid $lowlight-primary;
  }

  .coupon-event-name {
    font-size: 2.2rem;
    font-weight: 400;
  }

  .coupon-use-code {
    justify-content: flex-start;
    margin-bottom: 0;
    // .actual {
    //   font-weight: bold;
    //   color: $lowlight-primary;
    //   margin-left: 1rem;
    //   text-transform: uppercase;
    // }
  }

  .coupon-buttons {
    display: flex;
    flex-direction: column;

    sh-button {
      margin: 0;
      flex-basis: 50%;
      flex-grow: 1;

      button {
        display: flex;
        &.active {
          background: $state-success;
          color: $highlight-primary;
          border-color: transparent;
          belk-icon {
            display: block;
          }
        }
        belk-icon {
          display: none;
          margin-right: 0.5rem;
          margin-left: 0;
        }
      }

      +sh-button {
        margin-top: $little;
      }
    }
  }

  .coupon-print {
    justify-content: flex-start;
    margin-top: -38px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    sh-button {
      font-size: 8px;
    }
  }

  .coupon-description {
    font-size: 14px;
    justify-content: flex-start;
    display: block;
  }

  .coupon-ends {
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .coupon-upc {
    margin-left: -0.5em;
    margin-right: -0.5em;
    margin-top: -0.5em;
    height: 0;
    padding-bottom: 30%;
    position: relative;
    height: 0;
    belk-barcode {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  .coupon-details-actual {
    font-size: 1rem;
  }
}

offer-container .belk-coupon {
  height: 100%;
}
