/* primary variant */

sh-banner[variant="primary"] {
  // .sh-banner {
  //   display: block;
  //   background-image: linear-gradient(135deg, #48b1de 0%, #0667a0 50%);
  //   background-size: 200% 100%;
  //   background-repeat: no-repeat;
  //   background-position: 100% 0;
  //   transition: background-position 250ms $ease;

  //   &:hover {
  //     background-position: 0 0;
  //   }
  // }
  .sh-banner {
    p {
      line-height: $rem;
    }

    a {
      text-decoration: none;
    }

    .banner-background {
      transition: all 200ms $ease;
    }

    .cta {
      text-decoration: none;
      border-bottom: 1px solid rgba(255,255,255,1);
      color: currentColor;
      font-size: 1.4rem;
      transition: all 100ms $ease;
      white-space: pre;
    }

    a:hover .cta,
    a.cta:hover {
      border-bottom: 1px solid rgba(255,255,255,0.5);
    }

    [animate] {
      .slides li {
        transform: translateY(150%) translateZ(0);
        transition: all 250ms $accel, transform 250ms linear 500ms;
        opacity: 0;
      }
    }

    [animate='in'] {
      .slides li.active {
        transform: translateX(0) translateY(0) translateZ(0);
        transition: all 300ms $decel;
        opacity: 1;
      }
    }
  }
}
