/* default styling */

.sh-combo {
  display: block;
  min-height: 3.2rem;
  position: relative;

  &.active {
    belk-icon {
      transform: rotate(180deg);
    }
    .combo-options {
      display: flex;
    }
  }

  &.native {
    .combo-options {
      display: none;
    }
    .combo-actual {
      pointer-events: none;
    }
  }
  .combo-actual {
    position: absolute;
    width: 100%;
    border: 1px solid $lowlight-primary;
    background: $highlight-primary;
  }

  belk-icon {
    height: 1rem;
    width: 1.5rem;
    margin-right: 1.5rem;
    transform-origin: center center;
  }

  .combo-trigger {
    display: block;
    width: 100%;
    line-height: 3rem;
    font-size: 1.6rem;
    color: $lowlight-primary;
    padding: 0 !important;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
    font-weight: normal;
    justify-content: space-between;
  }

  .combo-text {
    padding: 0 1.5rem;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 80%;
  }

  .combo-options {
    display: none;
    width: 100%;
    flex-direction: column;
    ul {
      list-style: none;
      line-height: 3rem;
      padding: 0;
    }
    li {
      padding: 0 1.5rem;
    }
  }
  .combo-select {
    select {
      display: block;
      width: 100%;
      min-height: 3.2rem;
      height: 100%;
      -webkit-appearance: none;
      border: 0;
      border-radius: 0;
      background: transparent;
    }
  }
}
