/* default styling */

sh-link {
  display: inline;
  position: relative;
  a {
    display: inline-flex;
    height: 3.2rem;
    align-items: center;
    border: 1px solid $lowlight-quaternary;
    padding:  1.2rem;
    color: $lowlight-primary;
    border-radius: 4px;
    @include lg {
      height: 3rem;
    }
  }
}
