/* default styling */
.belk-header {
  * { box-sizing: border-box; }

  .container {
    align-content: center;
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    padding: 0 20px;
  }
  .primary-nav,
  .secondary-nav {
    display: flex;
    height: 60px;
    width: 100%;
    
    .container {
      height: 100%;
      align-items: center;
    }
  }

  .primary-nav {
    background-color: $highlight-primary;
    // color: $color-primary;

    .logo {
      width: 96px;
    }
  }
  .secondary-nav {
    background-color: $lowlight-tertiary;
    color: $lowlight-tertiary;
    position: sticky;
    top: 0;

    .logo {
      width: 57px;
      display: none;
    }
  }
  .tertiary-nav {
    display: none;
  }

  @media screen and (min-width: 768px){
    .primary-nav {
      .logo {
        display: block;
      }
    }
    .secondary-nav {
      .logo {
        display: none;
      }
    }
  }
}