/* primary variant */

belk-header[variant="primary"] {
  .primary .contain,
  .secondary .contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  belk-logo {
    margin: 10px;
  }

  .primary {
    display: none;
    background-color: $highlight-primary;
  }

  .secondary {
    background-color: $lowlight-tertiary;
    .contain {
      justify-content: space-between;
    }
  }

  .tertiary {
    nav {
      display: block;
    }
  }

  .icon-bar {
    display: flex;
    height: 5rem;
  }

  sh-button.nav-trigger {
    .sh-button {
      background: transparent !important;
      color: $highlight-primary;
      padding: 0;
      height: 4.5rem;
      i {
        font-size: 3rem;
        padding: 0;
        margin: 0;
      }
    }
  }

  @media (min-width: breakpoint("lg")) {
    .primary {
      display: flex;
    }

    .secondary {
      .contain {
        justify-content: flex-end;
      }
      belk-logo {
        display: none;
      }
    }

    sh-button.nav-trigger {
      display: none;
    }
  }

  /* EMBEDDED MEGA NAV */
  .belk-mega-nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30rem;
    transform: translateX(-100%) translateZ(0);
    background: $highlight-primary;
    &.active {
      transform: translateZ(0);
      z-index: 9;
    }
    > nav > ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: flex-start;
      padding: 0;
      margin: 0 !important;
      li {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        display: block;
      }
    }
  }

  @media (min-width: breakpoint("lg")) {
    .belk-mega-nav {
      position: static;
      top: auto;
      left: auto;
      bottom: auto;
      min-width: 100%;
      transform: none;
      > nav > ul {
        width: 100%;
      }

      .popper-target > a {
        width: 100%;
      }
    }

    .belk-mega-nav > nav > ul {
      flex-direction: row;
    }
  }
  /* END EMBEDDED MEGA NAV */
}
