/* primary variant */

belk-header[variant="primary"] {
  color: $lowlight-primary;

  .primary .contain,
  .secondary .contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .primary {
    display: none;
  }

  .contain {
    justify-content: space-between;
  }
  
  belk-logo {
    margin: 1rem 1rem 1rem 0;
    order: 0;
  }

  belk-search {
    width: 60%;
    order: 1;
    margin-left: auto;
  }

  belk-mega-nav {

  }

  sh-button.nav-trigger {
    .sh-button {
      background: transparent !important;
      padding: 0;
      height: 4.5rem;

      i {
        font-size: 3rem;
        padding: 0;
        margin: 0;
      }
    }
  }

  /* default styling */

  sh-button.nav-trigger {
    max-width: 100vw;
    overflow: hidden;
    transition: max-width 250ms $ease;

    .sh-button {
      background: transparent !important;
      padding: 0;
      height: 4.5rem;

      i {
        font-size: 3rem;
        padding: 0;
        margin: 0;
      }

      .mobile-links {
        flex-grow: 1;
      }
    }
  }

  .tertiary {
    nav {
      display: block;
    }
  }

  @media (min-width: breakpoint("lg")) {
    .primary {
      display: flex;
    }

    .secondary {
      .contain {
        justify-content: flex-start;
      }
    }

    sh-button.nav-trigger {
      max-width: 0;
    }

    .icon-bar>div>div {
      display: block;
      order: 3;
    }
  }
}