<%- htmlWebpackPlugin.options.docsHead %>

<title>Global Object-Oriented Classes</title>
<div class="documentation contain">
  <section>
  <h1>Legos</h1>
    <p>"The focus of OOCSS is the idea of treating page elements as objects, giving all these objects classes, treating objects’ classes as single entities in style sheets, and taking it from there."</p>
    <p>Writing CSS outside of the head of your document causes a scenario where a page must be re-rendered as the CSS is encoutered. One way to bypass this is to create massive/unwieldly blocks of super specific CSS that only apply to one thing on the page. This creates massive CSS files that then have to be transferred to your user.</p>
    <p>OO classes give you the ability to make presentation-related adjustments to content (and in our case, components) with the easy-to-remember class names listed below.</p>
  </section>

  <section>
    <h2>Space Management</h2>
    <ul>
      <li>padding</li>
      <li>margin</li>
      <li>grid</li>
      <li>flex?</li>
    </ul>
  </section>

  <section>
    <h2 id="font-control">Font Control</h2>

    <h3 class="pad-t">Alignment</h3>
    <div class="flex-inline col">
      <code>text-right</code>
      <code>text-center</code>
      <code>text-left</code>
    </div>
    <div data-mod="text" class="demo">
      <p>Configure text alignment.</p>
    </div>

    <h3 class="pad-t">Size</h3>
    <div class="flex-inline col">
      <code>px-<input type="number" min="1" max="100" value="18"></code>
    </div>
    <div data-mod="px" class="demo">
      <p>Set the font size in rem-equivalient pixel units. Values range from 1 to 100.</p>
    </div>

    <h3 class="pad-t">Line Height</h3>
    <div class="flex-inline col">
      <code>lh-<input type="number" min="1" max="100" value="32"></code>
    </div>
    <div data-mod="lh" class="demo">
      <p>Set the line-height in rem-equivalient pixel units. Values range from 1 to 100.</p>
    </div>

    <h3 class="pad-t" id="font-weight">Font Weight</h3>

    <div class="flex-inline col">
      <code>wt-<input type="number" min="100" max="900" value="32" step="100"></code>
      <code>light</code>
      <code>normal</code>
      <code>heavy</code>
      <code>bold</code>
    </div>
    <p>Set the line-height in rem-equivalient pixel units. Values range from 1 to 100.</p>
    <p>ex: <code>[class="wt-600"]</code></p>

    <h3 class="pad-t" id="font-style">Style</h3>
    <div class="flex-inline col">
      <code>style-italic</code>
      <code>style-normal</code>
    </div>
    <p>Changes the style of the text. Options are pretty limited here, but there are other ways to <a href="#text-deco">decorate</a> below.</p>

    <ul>
      <li>font color</li>
      <li>font deco</li>
      <li>font treatments (pre-configured combinations of the above)</li>
    </ul>
  </section>

  <section>
    <h2 id="positioning">Positioning</h2>
  </section>
</div>
<%- htmlWebpackPlugin.options.docsFoot %>
