<%- htmlWebpackPlugin.options.docsHead %>

<title><%= htmlWebpackPlugin.options.title %></title>

<div class="documentation contain">
  <h1>Belk Drawer</h1>


  <section id="reference" class="baseline30">
      <h2>Reference</h2>
      <h3 id="attributes">Attributes</h3>
      <table class="attributes">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>unique-id</td>
            <td>String</td>
            <td>The id or name of this instance of the drawer.</td>
          </tr>
          <tr>
            <td>show-delay</td>
            <td>Number</td>
            <td>
              <ul>
                <li>Time (in milliseconds) to delay before showing drawer tab.</li>
                <li>Defaults to 1000 (1s).</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>attract-delay</td>
            <td>Number</td>
            <td>
              <ul>
                <li>Time (in milliseconds) to show drawer during attract mode.</li>
                <li>Defaults to 2000 (2s).</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>custom-class</td>
            <td>String</td>
            <td>Custom class to be passed to body of drawer.</td>
          </tr>
          <tr>
            <td>custom-class</td>
            <td>String</td>
            <td>Custom class to be passed to body of drawer.</td>
          </tr>
          <tr>
            <td>drawer</td>
            <td>String</td>
            <td>
              <ul>
                <li>Define the direction from which drawer appears.</li>
                <li>Defaults to 'bottom'.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>button-headline-active</td>
            <td>String</td>
            <td>
              <ul>
                <li>Open-state button headline.</li>
                <li>REQUIRED</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>button-headline-inactive</td>
            <td>String</td>
            <td>
              <ul>
                <li>Closed-state button headline.</li>
                <li>REQUIRED</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>button-subhead-active</td>
            <td>String</td>
            <td>
              <ul>
                <li>Open-state button sub headline.</li>
                <li>Count of items is included before subhead when active: "[count] [button-subhead-active]"</li>
                <li>REQUIRED</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>button-subhead-inactive</td>
            <td>String</td>
            <td>
              <ul>
                <li>Closed-state button headline.</li>
                <li>REQUIRED</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <h3 id="events">Events</h3>
      <table class="events">
        <thead>
          <tr>
            <th>Event</th>
            <th>Payload Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>modal-opening</td>
            <td>
              String
            </td>
            <td>
              Payload is the drawer's unique ID.
            </td>
          </tr>
          <tr>
            <td>modal-opening</td>
            <td>
              String
            </td>
            <td>
              Payload is the drawer's unique ID.
            </td>
          </tr>
          <tr>
            <td>drawer-closing</td>
            <td>
              String
            </td>
            <td>
              Payload is the drawer's unique ID.
            </td>
          </tr>
          <tr>
            <td>drawer-closed</td>
            <td>
              String
            </td>
            <td>
              Payload is the drawer's unique ID.
            </td>
          </tr>
        </tbody>
      </table>
    </section>

  <section id="examples">
    <h2>Examples</h2>
    <lib-toolbar>
      <sh-button toggle-trigger="promo-drawer">Toggle Drawer Modal</sh-button>
      <script>
          window.promoDrawer = [{
              headerColor: 'brand-wildfuscia',
              ends: 'concludes Feb 14, 2020',
              discount: '88',
              eventName: 'Event Name',
              description: 'Some <strong>awesome</strong> description that has details!',
              details: 'Some <strong>awesome</strong> details!',
              code: '1EVENTCODE',
              upc: '12345678',
              extra: true,
              image: 'https://assets.codepen.io/42746/test1.png',
            },
            {
              headerColor: 'brand-belkblue',
              discount: '20',
              link: 'http://google.com',
              eventName: 'Event Name',
              code: '2EVENTCODE',
              upc: '12345678',
              image: 'https://assets.codepen.io/42746/test2.png',
            },
            {
              headerColor: 'brand-belkblue',
              discount: '20',
              link: 'http://google.com',
              eventName: 'Event Name',
              code: '2EVENTCODE',
              upc: '12345678',
              image: 'https://assets.codepen.io/42746/test3.png',
            }
          ];
        
        </script>
        <belk-drawer
        overlay="none"
        unique-id="pd"
        data-obj="promoDrawer"
        button-headline-inactive="Today's Offers"
        button-subhead-inactive="Tap for Savings Made Simple"
        button-headline-active="Savings Made Simple"
        button-subhead-active=" Offers"></belk-drawer>
    </lib-toolbar>
  </section>

  <section id="changelog">
    <h2>Changelog</h2>
    <dl>
      <dt>1.0.0</dt>
      <dd>Drawer was forked from modal (1.3.2); unique attributes added.</dd>
    </dl>
  </section>

  <section>
    <div style="height: 200vh"></div>
  </section>
</div>

<%- htmlWebpackPlugin.options.docsFoot %>
