<%- htmlWebpackPlugin.options.docsHead %>

<title><%= htmlWebpackPlugin.options.title %></title>

<div class="documentation contain">
  <h1>Belk Drawer</h1>
  <section id="usage">
    <h2>Usage</h2>
    <pre>
      <code class="language-html">
          &lt;belk-drawer drawer="bottom"
          overlay="none"
          unique-id="demo-drawer"
          button-headline-inactive="Today's Offers"
          button-subhead-inactive="Tap for Savings Made Simple"
          button-headline-active="Savings Made Simple"
          button-subhead-active=" Offers"
          count-selector=".belk-coupons &gt; belk-coupon"&gt;
            &lt;div&gt;
              &lt;div class="belk-coupons"&gt;
                &lt;belk-coupon header-color="brand-belkblue" badge="Online Exclusive" discount="30" upc="12349876"&gt;&lt;/belk-coupon&gt;
                &lt;belk-coupon header-color="brand-wildfuscia" ends="concludes Feb 14, 2020" badge="In-Store Only" discount="88" event-name="Lost a Good One" code="GREGOLSEN" upc="12345678" extra&gt;
                  &lt;div slot="exclusions"&gt;
                    Exclusions.
                  &lt;/div&gt;
                  &lt;div slot="description"&gt;
                    Here's a descriptive paragraph that &lt;strong&gt;is HTML friendly&lt;/strong&gt;.
                  &lt;/div&gt;
                &lt;/belk-coupon&gt;
                &lt;belk-coupon header-color="brand-deepteal" badge="Online and In-Store" discount="30" to-spend="100" event-name="Dirty Thirty" code="GET SOME" upc="12349876"&gt;
                  &lt;div slot="exclusions"&gt;
                    Here's some exclusions without a description... so the link is lower.
                  &lt;/div&gt;
                &lt;/belk-coupon&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/belk-drawer&gt;
      </code>
    </pre>
  </section>

  <section id="reference" class="baseline30">
    <h2>Reference</h2>

    <h3 id="attributes">Attributes</h3>

    <table class="attributes">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>unique-id</td>
          <td>String</td>
          <td>
            <ul>
              <li>Unique ID.</li>
              <li>This is a <strong>required</strong> attribute.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>variant</td>
          <td>String</td>
          <td>
            <ul>
              <li>Change the way the modal is rendered.</li>
              <li>Options: primary (default), secondary, tertiary</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>header</td>
          <td>String</td>
          <td>
            Content for the modal header.
          </td>
        </tr>
        <tr>
          <td>hide-header</td>
          <td>Boolean</td>
          <td>
            Omit the header element.
          </td>
        </tr>
        <tr>
          <td>hide-close</td>
          <td>Boolean</td>
          <td>
            Omit the close trigger.
          </td>
        </tr>
        <tr>
          <td>close-icon</td>
          <td>String</td>
          <td>
            Change the close icon. Defaults to 'close'
          </td>
        </tr>
        <tr>
          <td>fullscreen</td>
          <td>Boolean</td>
          <td>
            Configures the modal to fill the users viewport.
          </td>
        </tr>
        <tr>
          <td>footer</td>
          <td>String</td>
          <td>
            Content for modal footer.
          </td>
        </tr>
        <tr>
          <td>content-url</td>
          <td>String</td>
          <td>
            URL endpoint for ajaxing content into the modal.
          </td>
        </tr>
        <tr>
          <td>content-selector</td>
          <td>String</td>
          <td>
            Selector to target specific content in the returned ajax call.
          </td>
        </tr>
        <tr>
          <td>max-width</td>
          <td>String</td>
          <td>
            Restrict the body of the modal to a value. (300px, 50%, etc)
          </td>
        </tr>
        <tr>
          <td>overlay</td>
          <td>String</td>
          <td>
            <ul>
              <li>
                Define the main color for the overlay.
              </li>
              <li>
                Options are all base color variables (accent-ordinal, lowlight-ordinal, highlight-ordinal) and 'none'.
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>open-trigger-event</td>
          <td>String</td>
          <td>
            <ul>
              <li>
                Configure to open when an event is triggered.
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>close-trigger-event</td>
          <td>String</td>
          <td>
            <ul>
              <li>
                Configure to close when an event is triggered.
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>focus-target</td>
          <td>String</td>
          <td>
            <ul>
              <li>
                Selector to auto-focus on open.
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>confirmation-events</td>
          <td>Boolean</td>
          <td>
            <ul>
              <li>
                Enable <code>modal-affirmed</code> or <code>modal-rejected</code> events for this modal.
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <h3 id="slots">Slots</h3>

    <table class="slots">
      <thead>
        <tr>
          <th>Slot</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>header</td>
          <td>
            HTML content for the header of the modal.
          </td>
        </tr>
        <tr>
          <td>content</td>
          <td>
            HTML content for the main area of the modal.
          </td>
        </tr>
        <tr>
          <td>footer</td>
          <td>
            HTML content for the footer of the modal.
          </td>
        </tr>
      </tbody>
    </table>

    <h3 id="methods">Public Methods</h3>

    <table class="methods">
      <thead>
        <tr>
          <th>Function</th>
          <th>Params</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>open</td>
          <td>
            <ul>
              <li>
                none
              </li>
            </ul>
          </td>
          <td>
            Trigger the modal. This will close other open modals.
          </td>
        </tr>
        <tr>
          <td>close</td>
          <td>
            <ul>
              <li>
                clearHash
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li>
                This will close all open modals.
              </li>
              <li>
                <code class="lang-js">clearHash</code> is a boolean that defaults to true.
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <h3 id="events">Events</h3>

    <table class="events">
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Payload Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>modal-opening</td>
          <td>
            String
          </td>
          <td>
            <ul>
              <li>Fires before the modal opens.</li>
              <li>Payload is the ID of the modal that will open.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>modal-opened</td>
          <td>
            String
          </td>
          <td>
            <ul>
              <li>Fires immediately after the modal opens.</li>
              <li>Payload is the ID of the modal that has opened.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>modal-closing</td>
          <td>
            String
          </td>
          <td>
            <ul>
              <li>Fires before the modal closes.</li>
              <li>Payload is the ID of the modal that will close.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>modal-closed</td>
          <td>
            String
          </td>
          <td>
            <ul>
              <li>Fires immediately after the modal has closed.</li>
              <li>Payload is the ID of the modal that has closed.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>modal-affirmed</td>
          <td>
            String
          </td>
          <td>
            <ul>
              <li>Fires when a an <code>affirm-trigger</code> is clicked.</li>
              <li>Payload is the ID of the modal that has closed.</li>
              <li>Modal <strong>MUST</strong> have <code>[confirmation-events]</code> applied.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>modal-rejected</td>
          <td>
            String
          </td>
          <td>
            <ul>
              <li>Fires when a an <code>reject-trigger</code> OR <code>close-trigger</code> is clicked.</li>
              <li>Payload is the ID of the modal that has closed.</li>
              <li>Modal <strong>MUST</strong> have <code>[confirmation-events]</code> applied.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>modal-trigger-data</td>
          <td>
            Object
          </td>
          <td>
            <ul>
              <li>Fires immediately after the modal trigger is clicked.</li>
              <li>Payload contains the <code>id</code> of the target modal and whatever dataset is on the trigger.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>modal-content-loaded</td>
          <td>
            String
          </td>
          <td>
            <ul>
              <li>Fires once ajax'ed content has been loaded.</li>
              <li>Payload contains the <code>id</code> of the target modal.</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="examples">
    <h2>Examples</h2>
      <sh-button modal-trigger="demo-drawer">Open Drawer Modal</sh-button>
      <belk-drawer drawer="bottom"
      overlay="none"
      unique-id="demo-drawer"
      button-headline-inactive="Today's Offers"
      button-subhead-inactive="Tap for Savings Made Simple"
      button-headline-active="Savings Made Simple"
      button-subhead-active=" Offers"
      count-selector=".belk-coupons > belk-coupon">
        <div class="belk-coupons">
          <belk-coupon variant="offer">
            <div slot="image">
              TEST
              <img src="via.placeholder.com/300x200" />
            </div>
            <div slot="description">
              Here's a descriptive paragraph that <strong>is HTML friendly</strong>.
            </div>
            <div slot="exclusions">
              Details about the offer.
            </div>
          </belk-coupon>
          <belk-coupon header-color="brand-belkblue" badge="Online Exclusive" discount="30" upc="12349876"></belk-coupon>
          <belk-coupon header-color="brand-wildfuscia" ends="concludes Feb 14, 2020" badge="In-Store Only" discount="88" event-name="Lost a Good One" code="GREGOLSEN" upc="12345678" extra>
            <div slot="exclusions">
              Here's some information about the coupon's exclusions.
            </div>
            <div slot="description">
              Here's a descriptive paragraph that <strong>is HTML friendly</strong>.
            </div>
          </belk-coupon>
          <belk-coupon header-color="brand-deepteal" badge="Online and In-Store" discount="30" to-spend="100" event-name="Dirty Thirty" code="GET SOME" upc="12349876">
            <div slot="exclusions">
              Here's some exclusions without a description... so the link is lower.
            </div>
          </belk-coupon>
        </div>
      </belk-drawer>
  </section>

  <section id="changelog">
    <h2>Changelog</h2>
    <dl>
      <dt>1.0.0</dt>
      <dd>Drawer was forked from modal (1.3.2); unique attributes added.</dd>
    </dl>
  </section>
</div>

<%- htmlWebpackPlugin.options.docsFoot %>
