/* default styling */

sh-link-list {
  display: flex;
}
.sh-link-list {
  ul {
    list-style: none;
    padding: 0;
  }
  a {
    display: block;
    &.active {
      background: $accent-primary;
    }
  }
}