/* Primary Variant */

sh-link-list[variant="primary"] {
  .sh-link-list {
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0 !important;
    }

    a {
      display: block;

      &.active {
        background: $accent-primary;
      }
    }
  }
}