<%- htmlWebpackPlugin.options.docsHead %>

<title><%= htmlWebpackPlugin.options.title %></title>

<div class="documentation contain">
  <h1>Carousel</h1>
  <section id="usage">
    <h2>Usage</h2>
    <pre>
      <code class="language-html">
          &lt;sh-carousel&gt;new component&lt;/sh-carousel&gt;
      </code>
    </pre>
  </section>

  <section id="reference" class="baseline30">
    <h2>Reference</h2>
    <h3 id="attributes">Attributes</h3>

    <table class="attributes">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>start-at</td>
          <td>Number</td>
          <td>The slide to begin on.</td>
        </tr>
        <tr>
          <td>per-next</td>
          <td>Number</td>
          <td>Amount of items the carousel will cycle through on interaction. (Default: 1)</td>
        </tr>
        <tr>
          <td>hide-controls</td>
          <td>Boolean</td>
          <td>Hide all controls.</td>
        </tr>
        <tr>
          <td>hide-arrows</td>
          <td>Boolean</td>
          <td>Hide the next/previous arrow controls.</td>
        </tr>
        <tr>
          <td>hide-dots</td>
          <td>Boolean</td>
          <td>Hide the dot controls.</td>
        </tr>
        <tr>
          <td>autoplay</td>
          <td>Number</td>
          <td>Begin automaticaly cycling at [autoplay]ms per slide. (ex: 5000)</td>
        </tr>
        <tr>
          <td>resolution</td>
          <td>Ratio</td>
          <td>
            <ul>
                <li>For primary variant, force Carousel to fit an aspect ratio.</li>
                <li>Options: <code>4:3</code> <code>3:2</code> <code>16:9</code></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <h3 id="slots">Slots</h3>

    <table class="slots">
      <thead>
        <tr>
          <th>Slot</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>default</td>
          <td>
            Slides in HTML.
          </td>
        </tr>
      </tbody>
    </table>

    <h3 id="methods">Public Methods</h3>

        <!-- <table class="methods">
      <thead>
        <tr>
          <th>Function</th>
          <th>Params</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>snap</td>
          <td>
            <ul>
              <li>
                none
              </li>
            </ul>
          </td>
          <td>
            Perform snap animation and halve text.
          </td>
        </tr>
      </tbody>
    </table> -->

    <h3 id="events">Events</h3>

    <table class="events">
      <thead>
        <tr>
          <th>Event</th>
          <th>Payload Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>event-name</td>
          <td>
            Type
          </td>
          <td>
            Fires when something happens.
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="examples">
    <h2>Examples</h2>
    <h3>Default</h3>
    <lib-toolbar>
      <sh-carousel variant="primary">
        <ul slot="slides">
          <li style="background-image: url(https://picsum.photos/id/235/400); height:200px; background-size: cover; background-position: center center"></li>
          <li style="background-image: url(https://picsum.photos/id/236/400); height:200px; background-size: cover; background-position: center center"></li>
          <li style="background-image: url(https://picsum.photos/id/237/400); height:200px; background-size: cover; background-position: center center"></li>
          <li style="background-image: url(https://picsum.photos/id/238/400); height:200px; background-size: cover; background-position: center center"></li>
        </ul>
      </sh-carousel>
    </lib-toolbar>

    <h3>Nav Links</h3>
    <sh-link variant="secondary" href="#">test</sh-link>
    <sh-carousel variant="secondary" hide-controls>
      <ul slot="slides">
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
        <li>
          <sh-link variant="secondary" href="#">test</sh-link>
        </li>
      </ul>
    </sh-carousel>

    <h3>Banner</h3>
    <lib-toolbar>
      <sh-carousel variant="primary" autoplay="4000" hide-controls>
        <ul slot="slides">
          <li class="back-accent-primary">
            <a href="#">
              <p class="px-20 case-upper font-primary text-center color-highlight-primary pad-y-eighth"><span class="wt-700">Extra 15% off </span> clearance purchases with belk rewards credit card &amp; coupon <sh-link href="#coupons1">get coupon</sh-link></p>
            </a>
          </li>
          <li class="back-brand-wildfuscia">
            <a href="#">
              <p class="px-20 case-upper font-primary text-center color-highlight-primary pad-y-eighth"><span class="wt-700">Extra 20% off </span> regular and sale purchases with belk rewards credit card &amp; coupon <sh-link href="#coupons2">get coupon</sh-link></p>
            </a>
          </li>
          <li class="back-brand-mysticpurple">
            <a href="#">
              <p class="px-20 case-upper font-primary text-center color-highlight-primary pad-y-eighth"><span class="wt-700">Modal demo </span> if you click this link... <sh-link href="#coupon3">get coupon</sh-link></p>
            </a>
          </li>
        </ul>
      </sh-carousel>

      <sh-modal unique-id="coupon3">
        <div>
          Demo for modal from banner.
        </div>
      </sh-modal>
    </lib-toolbar>

    <h3>
      Tile Vertical
    </h3>
    <lib-toolbar>
      <div style="height: 600px">
        <sh-carousel vertical variant="secondary">
          <ul slot="slides">
            <li><img src="http://lorempixel.com/150/150/sports/1"></li>
            <li><img src="http://lorempixel.com/150/150/sports/?1"></li>
            <li><img src="http://lorempixel.com/150/150/sports/?2"></li>
            <li><img src="http://lorempixel.com/150/150/sports/?3"></li>
            <li><img src="http://lorempixel.com/150/150/sports/?4"></li>
            <li><img src="http://lorempixel.com/150/150/sports/?5"></li>
            <li><img src="http://lorempixel.com/150/150/sports/?6"></li>
            <li><img src="http://lorempixel.com/150/150/sports/?8"></li>
            <li><img src="http://lorempixel.com/150/150/sports/?9"></li>
            <li><img src="http://lorempixel.com/150/150/sports/?10"></li>
            <li><img src="http://lorempixel.com/150/150/sports/?11"></li>
            <li><img src="http://lorempixel.com/150/150/sports/?12"></li>
            <li><img src="http://lorempixel.com/150/150/sports/?13"></li>
          </ul>
        </sh-carousel>
      </div>
    </lib-toolbar>

    <h3>Tile Default</h3>
    <lib-toolbar>
      <sh-carousel variant="secondary">
        <ul slot="slides">
          <li><img src="http://lorempixel.com/150/150/sports/1"></li>
          <li><img src="http://lorempixel.com/150/150/sports/?1"></li>
          <li><img src="http://lorempixel.com/150/150/sports/?2"></li>
          <li><img src="http://lorempixel.com/150/150/sports/?3"></li>
          <li><img src="http://lorempixel.com/150/150/sports/?4"></li>
          <li><img src="http://lorempixel.com/150/150/sports/?5"></li>
          <li><img src="http://lorempixel.com/150/150/sports/?6"></li>
          <li><img src="http://lorempixel.com/150/150/sports/?8"></li>
          <li><img src="http://lorempixel.com/150/150/sports/?9"></li>
          <li><img src="http://lorempixel.com/150/150/sports/?10"></li>
          <li><img src="http://lorempixel.com/150/150/sports/?11"></li>
          <li><img src="http://lorempixel.com/150/150/sports/?12"></li>
          <li><img src="http://lorempixel.com/150/150/sports/?13"></li>
        </ul>
      </sh-carousel>
    </lib-toolbar>
  </section>

  <section id="changelog">
    <h2>Changelog</h2>
    <dl>
      <dt>0.1.0</dt>
      <dd>Carousel is under development.</dd>
    </dl>
  </section>
</div>

<%- htmlWebpackPlugin.options.docsFoot %>
