sh-button {
  display: inline-flex;
  height: 4.5rem;
  font-size: 1rem;

  &~sh-button {
    margin-left: 1.5em;
  }

  &[round] button {
    border-radius: 2.5em;
  }

  &[outline] button,
  &[outline][variant] button {
    background: transparent;
    border-width: 0.25em;
    border-style: solid;
    border-color: inherit;
    color: $lowlight-primary;
    &:hover {
      color: $highlight-primary;
    }
  }

  button {
    position: relative;
    border: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 1.5em;
    height: 100%;
    min-width: 4.5em;
    color: $highlight-primary;
    background: $lowlight-primary;
    transition: all 250ms $decel;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
    overflow: hidden;

    span,
    i {
      position: relative;
      pointer-events: none;
      z-index: 0;
    }

    span {
      display: flex;
      font-size: 1.4em;
    }

    .ripple {
      position: absolute;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      pointer-events: none;
      background: white;
      transform: translateX(-50%) translateY(-50%) translateZ(0);
      z-index: 0;
      animation: ripple 2s $decel;
    }

    .material-icons {
      &:first-of-type {
        margin-right: 0.5em;
      }

      &:last-of-type {
        margin-left: 0.5em;
      }

    }

    &.min {
      font-size: 1rem;
    }

    &:hover,
    &.active {
      background: $lowlight-secondary;
    }
  }

  @keyframes ripple {
    0% {
      opacity: 0.2;
      transform: scale(0);
    }

    80% {
      opacity: 0;
    }

    100% {
      opacity: 0;
      transform: scale(50);
    }
  }
}
