sh-button[variant="primary"] {
  button {
    color: $highlight-primary;
    background-color: $brand-blue;
    border: 2px solid transparent;

    &:hover,
    &.active {
      background-color: $accent-secondary;
    }
  }
}
