sh-button[variant="primary"] {
  &[disabled] {
    button {
      background-color: $lowlight-quinary;
    }
  }
  button {
    color: $highlight-primary;
    background-color: $accent-primary;
    border: 2px solid transparent;
    padding: 0 3.2em;
    height: 4.8em;
    border-radius: 5px;
    .actual-text span,
    .active-text,
    .active-icon {
      font-weight: 600;
      text-transform: none;
    }
    &:hover,
    &.active {
      background-color: $accent-secondary;
    }
  }
}
