sh-button[variant=secondary] {
  button {
    color: $brand-blue;
    box-shadow: inset 1px 0px 0 $brand-blue,
      inset -1px 0px 0 $brand-blue,
      inset 0px 1px 0 $brand-blue,
      inset 0px -1px 0 $brand-blue;
    transition: none;
    padding: 0 3.2em;
    min-height: 4.8em;
    border-radius: 5px;
    .actual-text span,
    .active-text,
    .active-icon {
      font-weight: 600;
      text-transform: none;
      span {
        font-size: 1em;
      }
    }
    &:hover,
    &.active {
      box-shadow: inset 2px 0px 0 $brand-blue,
      inset -2px 0px 0 $brand-blue,
      inset 0px 2px 0 $brand-blue,
      inset 0px -2px 0 $brand-blue;
    }
  }
}
