sh-button[variant=secondary] {
  button {
    color: $brand-blue;
    box-shadow: inset 1px 0px 0 $brand-blue,
                inset -1px 0px 0 $brand-blue,
                inset 0px 1px 0 $brand-blue,
                inset 0px -1px 0 $brand-blue;
    transition: none;

    &:hover,
    &.active {
      box-shadow: inset 2px 0px 0 $brand-blue,
      inset -2px 0px 0 $brand-blue,
      inset 0px 2px 0 $brand-blue,
      inset 0px -2px 0 $brand-blue;
    }
  }
}
