sh-button[variant=tertiary] {
  button {
    color: $highlight-primary;
    background: $lowlight-quaternary;
    &:hover,
    &.active {
      background: $accent-quaternary;
    }
  }
  
  &[outline] button {
    color: $lowlight-quaternary;
  }
}