<%- htmlWebpackPlugin.options.docsHead %>

<title><%= htmlWebpackPlugin.options.title %></title>

<div class="documentation contain">
<sh-button modal-trigger="demo-variant-primary">Primary</sh-button>
<sh-modal variant="primary" unique-id="demo-variant-primary">
  <p>"Primary" variant.</p>
  <p>
    <sh-button>ow</sh-button>
  </p>
</sh-modal>
</div>

<%- htmlWebpackPlugin.options.docsFoot %>
