<%- htmlWebpackPlugin.options.docsHead %>

<title><%= htmlWebpackPlugin.options.title %></title>

<div class="documentation contain">
  <h1>modal</h1>
  <section id="usage">
    <h2>Usage</h2>
    <pre>
      <code class="language-html">
        &lt;sh-modal header="Modal Header" unique-id="string"&gt;
          &lt;div&gt;
            &lt;p&gt;Default content slot, lorem ipsum doler.&lt;/p&gt;
          &lt;/div&gt;
          &lt;div slot="footer"&gt;
            &lt;p&gt;... buttons, etc ...&lt;/p&gt;
          &lt;/div&gt;
        &lt;/sh-modal&gt;
      </code>
    </pre>
    <p>Modals can be added anywhere within content. It will automatically remove itself from the flow of the document and be re-attached to a container at the bottom of the DOM.</p>
    <p>Modals can be triggered by <code class="lang-markup">modal-trigger='uniqueId'</code> from any element (like a button) or directly linked to from an anchor tag: <code class="lang-markup">href='#uniqueId'</code></p>
    <p>If a user lands on a page with a modal targeted via hash it will open automatically: <a href="/components/sh-modal#demo-default">reload with hash</a></p>
  </section>

  <section id="reference" class="baseline30">
    <h2>Reference</h2>

    <h3 id="attributes">Attributes</h3>

    <table class="attributes">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>unique-id</td>
          <td>String</td>
          <td>
            <ul>
              <li>Unique ID.</li>
              <li>This is a <strong>required</strong> attribute.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>variant</td>
          <td>String</td>
          <td>
            <ul>
              <li>Change the way the modal is rendered.</li>
              <li>Options: primary (default), secondary, tertiary</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>header</td>
          <td>String</td>
          <td>
            Content for the modal header.
          </td>
        </tr>
        <tr>
          <td>hide-header</td>
          <td>Boolean</td>
          <td>
            Omit the header element.
          </td>
        </tr>
        <tr>
          <td>hide-close</td>
          <td>Boolean</td>
          <td>
            Omit the close trigger.
          </td>
        </tr>
        <tr>
          <td>close-icon</td>
          <td>String</td>
          <td>
            Change the close icon. Defaults to 'close'
          </td>
        </tr>
        <tr>
          <td>fullscreen</td>
          <td>Boolean</td>
          <td>
            Configures the modal to fill the users viewport.
          </td>
        </tr>
        <tr>
          <td>footer</td>
          <td>String</td>
          <td>
            Content for modal footer.
          </td>
        </tr>
        <tr>
          <td>content-url</td>
          <td>String</td>
          <td>
            URL endpoint for ajaxing content into the modal.
          </td>
        </tr>
        <tr>
          <td>content-selector</td>
          <td>String</td>
          <td>
            Selector to target specific content in the returned ajax call.
          </td>
        </tr>
        <tr>
          <td>max-width</td>
          <td>String</td>
          <td>
            Restrict the body of the modal to a value. (300px, 50%, etc)
          </td>
        </tr>
        <tr>
          <td>overlay</td>
          <td>String</td>
          <td>
            <ul>
              <li>
                Define the main color for the overlay.
              </li>
              <li>
                Options are all base color variables (accent-ordinal, lowlight-ordinal, highlight-ordinal) and 'none'.
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>open-trigger-event</td>
          <td>String</td>
          <td>
            <ul>
              <li>
                Configure to open when an event is triggered.
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>close-trigger-event</td>
          <td>String</td>
          <td>
            <ul>
              <li>
                Configure to close when an event is triggered.
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>focus-target</td>
          <td>String</td>
          <td>
            <ul>
              <li>
                Selector to auto-focus on open.
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>confirmation-events</td>
          <td>Boolean</td>
          <td>
            <ul>
              <li>
                Enable <code>modal-affirmed</code> or <code>modal-rejected</code> events for this modal.
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <h3 id="slots">Slots</h3>

    <table class="slots">
      <thead>
        <tr>
          <th>Slot</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>header</td>
          <td>
            HTML content for the header of the modal.
          </td>
        </tr>
        <tr>
          <td>content</td>
          <td>
            HTML content for the main area of the modal.
          </td>
        </tr>
        <tr>
          <td>footer</td>
          <td>
            HTML content for the footer of the modal.
          </td>
        </tr>
      </tbody>
    </table>

    <h3 id="methods">Public Methods</h3>

    <table class="methods">
      <thead>
        <tr>
          <th>Function</th>
          <th>Params</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>open</td>
          <td>
            <ul>
              <li>
                none
              </li>
            </ul>
          </td>
          <td>
            Trigger the modal. This will close other open modals.
          </td>
        </tr>
        <tr>
          <td>close</td>
          <td>
            <ul>
              <li>
                clearHash
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li>
                This will close all open modals.
              </li>
              <li>
                <code class="lang-js">clearHash</code> is a boolean that defaults to true.
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <h3 id="events">Events</h3>

    <table class="events">
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Payload Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>modal-opening</td>
          <td>
            String
          </td>
          <td>
            <ul>
              <li>Fires before the modal opens.</li>
              <li>Payload is the vue element of the modal that will open.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>modal-opened</td>
          <td>
            String
          </td>
          <td>
            <ul>
              <li>Fires immediately after the modal opens.</li>
              <li>Payload is the ID of the modal that has opened.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>modal-closing</td>
          <td>
            String
          </td>
          <td>
            <ul>
              <li>Fires before the modal closes.</li>
              <li>Payload is the ID of the modal that will close.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>modal-closed</td>
          <td>
            String
          </td>
          <td>
            <ul>
              <li>Fires immediately after the modal has closed.</li>
              <li>Payload is the ID of the modal that has closed.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>modal-affirmed</td>
          <td>
            String
          </td>
          <td>
            <ul>
              <li>Fires when a an <code>affirm-trigger</code> is clicked.</li>
              <li>Payload is the ID of the modal that has closed.</li>
              <li>Modal <strong>MUST</strong> have <code>[confirmation-events]</code> applied.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>modal-rejected</td>
          <td>
            String
          </td>
          <td>
            <ul>
              <li>Fires when a an <code>reject-trigger</code> OR <code>close-trigger</code> is clicked.</li>
              <li>Payload is the ID of the modal that has closed.</li>
              <li>Modal <strong>MUST</strong> have <code>[confirmation-events]</code> applied.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>modal-trigger-data</td>
          <td>
            Object
          </td>
          <td>
            <ul>
              <li>Fires immediately after the modal trigger is clicked.</li>
              <li>Payload contains the <code>id</code> of the target modal and whatever dataset is on the trigger.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>modal-content-loaded</td>
          <td>
            String
          </td>
          <td>
            <ul>
              <li>Fires once ajax'ed content has been loaded.</li>
              <li>Payload contains the <code>id</code> of the target modal.</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="examples">
    <h2>Examples</h2>

    <h3>Confirmation Modal</h3>
    <script>
        document.addEventListener('modal-affirmed', () => {
          console.log('modal affirmed.');
        });
      document.addEventListener('modal-rejected', () => {
        console.log('modal rejected.');
      });
    </script>
      <sh-button variant="primary" modal-trigger="demo-default">Open Confirmation Modal</sh-button>
      <sh-modal hide-buttons variant="primary" confirmation-events unique-id="demo-default" header="Modal Header">
        <div>
          <p>
            Magna <a href="#" modal-trigger="demo-2">demo modal 2</a> commodo ullamco occaecat ut ex ea reprehenderit.
            Deserunt laborum in proident aliquip dolore dolor cupidatat. Ex labore
            nisi magna ut voluptate adipisicing adipisicing elit nostrud enim eu
            velit reprehenderit. Do id cillum et aliqua culpa exercitation aliquip
            incididunt ea amet. Nisi esse sit in fugiat culpa.
          </p>

          <p>
            Magna <a href="#" modal-trigger="demo-2">demo modal 2</a> commodo ullamco occaecat ut ex ea reprehenderit.
            Deserunt laborum in proident aliquip dolore dolor cupidatat. Ex labore
            nisi magna ut voluptate adipisicing adipisicing elit nostrud enim eu
            velit reprehenderit. Do id cillum et aliqua culpa exercitation aliquip
            incididunt ea amet. Nisi esse sit in fugiat culpa.
          </p>

          <p>
            Esse ipsum reprehenderit id nostrud consectetur reprehenderit est
            pariatur pariatur eiusmod. Nisi est exercitation cillum laborum
            officia esse esse occaecat amet ad velit anim cupidatat. Fugiat
            consequat ullamco dolor et occaecat sit id ex. Sunt cillum do proident
            occaecat magna ullamco eiusmod adipisicing excepteur. Quis incididunt
            mollit est labore fugiat mollit minim eu. Et fugiat ipsum velit anim
            eiusmod nisi aliquip aute. Eiusmod deserunt ullamco consectetur est
            duis anim nostrud anim aliqua nostrud.
          </p>

        </div>
        <div slot="footer">
          <p class="text-center">I <a href="#" affirm-trigger close-trigger>agree</a> to the terms and conditions.</p>
          <belk-flex>
            <sh-button variant="secondary" reject-trigger close-trigger>Cancel</sh-button>
            <sh-button variant="primary" affirm-trigger>Confirm</sh-button>
          </belk-flex>
        </div>
      </sh-modal>

    <h3>Variants</h3>
    <lib-toolbar>
      <a href="#demo-variant-primary">Primary via link</a>
      <sh-modal variant="primary"
      header="Primary Variant"
      unique-id="demo-variant-primary">
      <p>
          Magna <a href="#" modal-trigger="demo-2">demo modal 2</a> commodo ullamco occaecat ut ex ea reprehenderit.
          Deserunt laborum in proident aliquip dolore dolor cupidatat. Ex labore
          nisi magna ut voluptate adipisicing adipisicing elit nostrud enim eu
          velit reprehenderit. Do id cillum et aliqua culpa exercitation aliquip
          incididunt ea amet. Nisi esse sit in fugiat culpa.
        </p>

        <p>
          Esse ipsum reprehenderit id nostrud consectetur reprehenderit est
          pariatur pariatur eiusmod. Nisi est exercitation cillum laborum
          officia esse esse occaecat amet ad velit anim cupidatat. Fugiat
          consequat ullamco dolor et occaecat sit id ex. Sunt cillum do proident
          occaecat magna ullamco eiusmod adipisicing excepteur. Quis incididunt
          mollit est labore fugiat mollit minim eu. Et fugiat ipsum velit anim
          eiusmod nisi aliquip aute. Eiusmod deserunt ullamco consectetur est
          duis anim nostrud anim aliqua nostrud.
        </p>

        <p>
          Consequat est deserunt laboris mollit in fugiat deserunt cillum
          laboris cillum non culpa labore. Deserunt irure culpa voluptate ex ex
          in. Ullamco eiusmod incididunt eiusmod ipsum sint tempor exercitation
          exercitation aliqua adipisicing deserunt aliquip esse culpa.
        </p>

        <p>
          Cupidatat quis officia incididunt adipisicing eiusmod dolore id ut
          Lorem qui anim et. Nisi consequat minim anim eiusmod aliqua eu
          deserunt ex. Sunt labore duis nisi laboris Lorem enim labore cillum
          enim enim et elit est ullamco. Ad proident excepteur quis enim
          voluptate aute irure ipsum veniam dolore.
        </p>
        <p>
          Magna <a href="#" modal-trigger="demo-2">demo modal 2</a> commodo ullamco occaecat ut ex ea reprehenderit.
          Deserunt laborum in proident aliquip dolore dolor cupidatat. Ex labore
          nisi magna ut voluptate adipisicing adipisicing elit nostrud enim eu
          velit reprehenderit. Do id cillum et aliqua culpa exercitation aliquip
          incididunt ea amet. Nisi esse sit in fugiat culpa.
        </p>

        <p>
          Esse ipsum reprehenderit id nostrud consectetur reprehenderit est
          pariatur pariatur eiusmod. Nisi est exercitation cillum laborum
          officia esse esse occaecat amet ad velit anim cupidatat. Fugiat
          consequat ullamco dolor et occaecat sit id ex. Sunt cillum do proident
          occaecat magna ullamco eiusmod adipisicing excepteur. Quis incididunt
          mollit est labore fugiat mollit minim eu. Et fugiat ipsum velit anim
          eiusmod nisi aliquip aute. Eiusmod deserunt ullamco consectetur est
          duis anim nostrud anim aliqua nostrud.
        </p>

        <p>
          Consequat est deserunt laboris mollit in fugiat deserunt cillum
          laboris cillum non culpa labore. Deserunt irure culpa voluptate ex ex
          in. Ullamco eiusmod incididunt eiusmod ipsum sint tempor exercitation
          exercitation aliqua adipisicing deserunt aliquip esse culpa.
        </p>

        <p>
          Cupidatat quis officia incididunt adipisicing eiusmod dolore id ut
          Lorem qui anim et. Nisi consequat minim anim eiusmod aliqua eu
          deserunt ex. Sunt labore duis nisi laboris Lorem enim labore cillum
          enim enim et elit est ullamco. Ad proident excepteur quis enim
          voluptate aute irure ipsum veniam dolore.
        </p>
        <p>
          Magna <a href="#" modal-trigger="demo-2">demo modal 2</a> commodo ullamco occaecat ut ex ea reprehenderit.
          Deserunt laborum in proident aliquip dolore dolor cupidatat. Ex labore
          nisi magna ut voluptate adipisicing adipisicing elit nostrud enim eu
          velit reprehenderit. Do id cillum et aliqua culpa exercitation aliquip
          incididunt ea amet. Nisi esse sit in fugiat culpa.
        </p>

        <p>
          Esse ipsum reprehenderit id nostrud consectetur reprehenderit est
          pariatur pariatur eiusmod. Nisi est exercitation cillum laborum
          officia esse esse occaecat amet ad velit anim cupidatat. Fugiat
          consequat ullamco dolor et occaecat sit id ex. Sunt cillum do proident
          occaecat magna ullamco eiusmod adipisicing excepteur. Quis incididunt
          mollit est labore fugiat mollit minim eu. Et fugiat ipsum velit anim
          eiusmod nisi aliquip aute. Eiusmod deserunt ullamco consectetur est
          duis anim nostrud anim aliqua nostrud.
        </p>

        <p>
          Consequat est deserunt laboris mollit in fugiat deserunt cillum
          laboris cillum non culpa labore. Deserunt irure culpa voluptate ex ex
          in. Ullamco eiusmod incididunt eiusmod ipsum sint tempor exercitation
          exercitation aliqua adipisicing deserunt aliquip esse culpa.
        </p>

        <p>
          Cupidatat quis officia incididunt adipisicing eiusmod dolore id ut
          Lorem qui anim et. Nisi consequat minim anim eiusmod aliqua eu
          deserunt ex. Sunt labore duis nisi laboris Lorem enim labore cillum
          enim enim et elit est ullamco. Ad proident excepteur quis enim
          voluptate aute irure ipsum veniam dolore.
        </p>
        <p>
          Magna <a href="#" modal-trigger="demo-2">demo modal 2</a> commodo ullamco occaecat ut ex ea reprehenderit.
          Deserunt laborum in proident aliquip dolore dolor cupidatat. Ex labore
          nisi magna ut voluptate adipisicing adipisicing elit nostrud enim eu
          velit reprehenderit. Do id cillum et aliqua culpa exercitation aliquip
          incididunt ea amet. Nisi esse sit in fugiat culpa.
        </p>

        <p>
          Esse ipsum reprehenderit id nostrud consectetur reprehenderit est
          pariatur pariatur eiusmod. Nisi est exercitation cillum laborum
          officia esse esse occaecat amet ad velit anim cupidatat. Fugiat
          consequat ullamco dolor et occaecat sit id ex. Sunt cillum do proident
          occaecat magna ullamco eiusmod adipisicing excepteur. Quis incididunt
          mollit est labore fugiat mollit minim eu. Et fugiat ipsum velit anim
          eiusmod nisi aliquip aute. Eiusmod deserunt ullamco consectetur est
          duis anim nostrud anim aliqua nostrud.
        </p>

        <p>
          Consequat est deserunt laboris mollit in fugiat deserunt cillum
          laboris cillum non culpa labore. Deserunt irure culpa voluptate ex ex
          in. Ullamco eiusmod incididunt eiusmod ipsum sint tempor exercitation
          exercitation aliqua adipisicing deserunt aliquip esse culpa.
        </p>

        <p>
          Cupidatat quis officia incididunt adipisicing eiusmod dolore id ut
          Lorem qui anim et. Nisi consequat minim anim eiusmod aliqua eu
          deserunt ex. Sunt labore duis nisi laboris Lorem enim labore cillum
          enim enim et elit est ullamco. Ad proident excepteur quis enim
          voluptate aute irure ipsum veniam dolore.
        </p>
        <p>
          Magna <a href="#" modal-trigger="demo-2">demo modal 2</a> commodo ullamco occaecat ut ex ea reprehenderit.
          Deserunt laborum in proident aliquip dolore dolor cupidatat. Ex labore
          nisi magna ut voluptate adipisicing adipisicing elit nostrud enim eu
          velit reprehenderit. Do id cillum et aliqua culpa exercitation aliquip
          incididunt ea amet. Nisi esse sit in fugiat culpa.
        </p>

        <p>
          Esse ipsum reprehenderit id nostrud consectetur reprehenderit est
          pariatur pariatur eiusmod. Nisi est exercitation cillum laborum
          officia esse esse occaecat amet ad velit anim cupidatat. Fugiat
          consequat ullamco dolor et occaecat sit id ex. Sunt cillum do proident
          occaecat magna ullamco eiusmod adipisicing excepteur. Quis incididunt
          mollit est labore fugiat mollit minim eu. Et fugiat ipsum velit anim
          eiusmod nisi aliquip aute. Eiusmod deserunt ullamco consectetur est
          duis anim nostrud anim aliqua nostrud.
        </p>

        <p>
          Consequat est deserunt laboris mollit in fugiat deserunt cillum
          laboris cillum non culpa labore. Deserunt irure culpa voluptate ex ex
          in. Ullamco eiusmod incididunt eiusmod ipsum sint tempor exercitation
          exercitation aliqua adipisicing deserunt aliquip esse culpa.
        </p>

        <p>
          Cupidatat quis officia incididunt adipisicing eiusmod dolore id ut
          Lorem qui anim et. Nisi consequat minim anim eiusmod aliqua eu
          deserunt ex. Sunt labore duis nisi laboris Lorem enim labore cillum
          enim enim et elit est ullamco. Ad proident excepteur quis enim
          voluptate aute irure ipsum veniam dolore.
        </p>
        <p>
          Magna <a href="#" modal-trigger="demo-2">demo modal 2</a> commodo ullamco occaecat ut ex ea reprehenderit.
          Deserunt laborum in proident aliquip dolore dolor cupidatat. Ex labore
          nisi magna ut voluptate adipisicing adipisicing elit nostrud enim eu
          velit reprehenderit. Do id cillum et aliqua culpa exercitation aliquip
          incididunt ea amet. Nisi esse sit in fugiat culpa.
        </p>

        <p>
          Esse ipsum reprehenderit id nostrud consectetur reprehenderit est
          pariatur pariatur eiusmod. Nisi est exercitation cillum laborum
          officia esse esse occaecat amet ad velit anim cupidatat. Fugiat
          consequat ullamco dolor et occaecat sit id ex. Sunt cillum do proident
          occaecat magna ullamco eiusmod adipisicing excepteur. Quis incididunt
          mollit est labore fugiat mollit minim eu. Et fugiat ipsum velit anim
          eiusmod nisi aliquip aute. Eiusmod deserunt ullamco consectetur est
          duis anim nostrud anim aliqua nostrud.
        </p>

        <p>
          Consequat est deserunt laboris mollit in fugiat deserunt cillum
          laboris cillum non culpa labore. Deserunt irure culpa voluptate ex ex
          in. Ullamco eiusmod incididunt eiusmod ipsum sint tempor exercitation
          exercitation aliqua adipisicing deserunt aliquip esse culpa.
        </p>

        <p>
          Cupidatat quis officia incididunt adipisicing eiusmod dolore id ut
          Lorem qui anim et. Nisi consequat minim anim eiusmod aliqua eu
          deserunt ex. Sunt labore duis nisi laboris Lorem enim labore cillum
          enim enim et elit est ullamco. Ad proident excepteur quis enim
          voluptate aute irure ipsum veniam dolore.
        </p>
        <p>
          Magna <a href="#" modal-trigger="demo-2">demo modal 2</a> commodo ullamco occaecat ut ex ea reprehenderit.
          Deserunt laborum in proident aliquip dolore dolor cupidatat. Ex labore
          nisi magna ut voluptate adipisicing adipisicing elit nostrud enim eu
          velit reprehenderit. Do id cillum et aliqua culpa exercitation aliquip
          incididunt ea amet. Nisi esse sit in fugiat culpa.
        </p>

        <p>
          Esse ipsum reprehenderit id nostrud consectetur reprehenderit est
          pariatur pariatur eiusmod. Nisi est exercitation cillum laborum
          officia esse esse occaecat amet ad velit anim cupidatat. Fugiat
          consequat ullamco dolor et occaecat sit id ex. Sunt cillum do proident
          occaecat magna ullamco eiusmod adipisicing excepteur. Quis incididunt
          mollit est labore fugiat mollit minim eu. Et fugiat ipsum velit anim
          eiusmod nisi aliquip aute. Eiusmod deserunt ullamco consectetur est
          duis anim nostrud anim aliqua nostrud.
        </p>

        <p>
          Consequat est deserunt laboris mollit in fugiat deserunt cillum
          laboris cillum non culpa labore. Deserunt irure culpa voluptate ex ex
          in. Ullamco eiusmod incididunt eiusmod ipsum sint tempor exercitation
          exercitation aliqua adipisicing deserunt aliquip esse culpa.
        </p>

        <p>
          Cupidatat quis officia incididunt adipisicing eiusmod dolore id ut
          Lorem qui anim et. Nisi consequat minim anim eiusmod aliqua eu
          deserunt ex. Sunt labore duis nisi laboris Lorem enim labore cillum
          enim enim et elit est ullamco. Ad proident excepteur quis enim
          voluptate aute irure ipsum veniam dolore.
        </p>
      </sh-modal>
    </lib-toolbar>

    <h4>Tertiary</h4>
    <lib-toolbar>
      <sh-button variant="primary" modal-trigger="demo-variant-tertiary">Tertiary</sh-button>
      <sh-button variant="primary" modal-trigger="demo-variant-tertiary-min">Tertiary minimal content</sh-button>
      <sh-modal variant="tertiary" header="tertiary content overflow" unique-id="demo-variant-tertiary" overlay="lowlight-primary">
        <p>A mobile style modal for desktop.</p>
        <p>
          Cupidatat quis officia incididunt adipisicing eiusmod dolore id ut
          Lorem qui anim et. Nisi consequat minim anim eiusmod aliqua eu
          deserunt ex. Sunt labore duis nisi laboris Lorem enim labore cillum
          enim enim et elit est ullamco. Ad proident excepteur quis enim
          voluptate aute irure ipsum veniam dolore.
        </p>
        <p>
          Magna <a href="#" modal-trigger="demo-2">demo modal 2</a> commodo ullamco occaecat ut ex ea reprehenderit.
          Deserunt laborum in proident aliquip dolore dolor cupidatat. Ex labore
          nisi magna ut voluptate adipisicing adipisicing elit nostrud enim eu
          velit reprehenderit. Do id cillum et aliqua culpa exercitation aliquip
          incididunt ea amet. Nisi esse sit in fugiat culpa.
        </p>

        <p>
          Esse ipsum reprehenderit id nostrud consectetur reprehenderit est
          pariatur pariatur eiusmod. Nisi est exercitation cillum laborum
          officia esse esse occaecat amet ad velit anim cupidatat. Fugiat
          consequat ullamco dolor et occaecat sit id ex. Sunt cillum do proident
          occaecat magna ullamco eiusmod adipisicing excepteur. Quis incididunt
          mollit est labore fugiat mollit minim eu. Et fugiat ipsum velit anim
          eiusmod nisi aliquip aute. Eiusmod deserunt ullamco consectetur est
          duis anim nostrud anim aliqua nostrud.
        </p>

        <p>
          Consequat est deserunt laboris mollit in fugiat deserunt cillum
          laboris cillum non culpa labore. Deserunt irure culpa voluptate ex ex
          in. Ullamco eiusmod incididunt eiusmod ipsum sint tempor exercitation
          exercitation aliqua adipisicing deserunt aliquip esse culpa.
        </p>

        <p>
          Cupidatat quis officia incididunt adipisicing eiusmod dolore id ut
          Lorem qui anim et. Nisi consequat minim anim eiusmod aliqua eu
          deserunt ex. Sunt labore duis nisi laboris Lorem enim labore cillum
          enim enim et elit est ullamco. Ad proident excepteur quis enim
          voluptate aute irure ipsum veniam dolore.
        </p>
        <p>
          Magna <a href="#" modal-trigger="demo-2">demo modal 2</a> commodo ullamco occaecat ut ex ea reprehenderit.
          Deserunt laborum in proident aliquip dolore dolor cupidatat. Ex labore
          nisi magna ut voluptate adipisicing adipisicing elit nostrud enim eu
          velit reprehenderit. Do id cillum et aliqua culpa exercitation aliquip
          incididunt ea amet. Nisi esse sit in fugiat culpa.
        </p>

        <p>
          Esse ipsum reprehenderit id nostrud consectetur reprehenderit est
          pariatur pariatur eiusmod. Nisi est exercitation cillum laborum
          officia esse esse occaecat amet ad velit anim cupidatat. Fugiat
          consequat ullamco dolor et occaecat sit id ex. Sunt cillum do proident
          occaecat magna ullamco eiusmod adipisicing excepteur. Quis incididunt
          mollit est labore fugiat mollit minim eu. Et fugiat ipsum velit anim
          eiusmod nisi aliquip aute. Eiusmod deserunt ullamco consectetur est
          duis anim nostrud anim aliqua nostrud.
        </p>

        <p>
          Consequat est deserunt laboris mollit in fugiat deserunt cillum
          laboris cillum non culpa labore. Deserunt irure culpa voluptate ex ex
          in. Ullamco eiusmod incididunt eiusmod ipsum sint tempor exercitation
          exercitation aliqua adipisicing deserunt aliquip esse culpa.
        </p>

        <p>
          Cupidatat quis officia incididunt adipisicing eiusmod dolore id ut
          Lorem qui anim et. Nisi consequat minim anim eiusmod aliqua eu
          deserunt ex. Sunt labore duis nisi laboris Lorem enim labore cillum
          enim enim et elit est ullamco. Ad proident excepteur quis enim
          voluptate aute irure ipsum veniam dolore.
        </p>
        <p>
          Magna <a href="#" modal-trigger="demo-2">demo modal 2</a> commodo ullamco occaecat ut ex ea reprehenderit.
          Deserunt laborum in proident aliquip dolore dolor cupidatat. Ex labore
          nisi magna ut voluptate adipisicing adipisicing elit nostrud enim eu
          velit reprehenderit. Do id cillum et aliqua culpa exercitation aliquip
          incididunt ea amet. Nisi esse sit in fugiat culpa.
        </p>

        <p>
          Esse ipsum reprehenderit id nostrud consectetur reprehenderit est
          pariatur pariatur eiusmod. Nisi est exercitation cillum laborum
          officia esse esse occaecat amet ad velit anim cupidatat. Fugiat
          consequat ullamco dolor et occaecat sit id ex. Sunt cillum do proident
          occaecat magna ullamco eiusmod adipisicing excepteur. Quis incididunt
          mollit est labore fugiat mollit minim eu. Et fugiat ipsum velit anim
          eiusmod nisi aliquip aute. Eiusmod deserunt ullamco consectetur est
          duis anim nostrud anim aliqua nostrud.
        </p>

        <p>
          Consequat est deserunt laboris mollit in fugiat deserunt cillum
          laboris cillum non culpa labore. Deserunt irure culpa voluptate ex ex
          in. Ullamco eiusmod incididunt eiusmod ipsum sint tempor exercitation
          exercitation aliqua adipisicing deserunt aliquip esse culpa.
        </p>

        <p>
          Cupidatat quis officia incididunt adipisicing eiusmod dolore id ut
          Lorem qui anim et. Nisi consequat minim anim eiusmod aliqua eu
          deserunt ex. Sunt labore duis nisi laboris Lorem enim labore cillum
          enim enim et elit est ullamco. Ad proident excepteur quis enim
          voluptate aute irure ipsum veniam dolore.
        </p>
        <p>
          Magna <a href="#" modal-trigger="demo-2">demo modal 2</a> commodo ullamco occaecat ut ex ea reprehenderit.
          Deserunt laborum in proident aliquip dolore dolor cupidatat. Ex labore
          nisi magna ut voluptate adipisicing adipisicing elit nostrud enim eu
          velit reprehenderit. Do id cillum et aliqua culpa exercitation aliquip
          incididunt ea amet. Nisi esse sit in fugiat culpa.
        </p>

        <p>
          Esse ipsum reprehenderit id nostrud consectetur reprehenderit est
          pariatur pariatur eiusmod. Nisi est exercitation cillum laborum
          officia esse esse occaecat amet ad velit anim cupidatat. Fugiat
          consequat ullamco dolor et occaecat sit id ex. Sunt cillum do proident
          occaecat magna ullamco eiusmod adipisicing excepteur. Quis incididunt
          mollit est labore fugiat mollit minim eu. Et fugiat ipsum velit anim
          eiusmod nisi aliquip aute. Eiusmod deserunt ullamco consectetur est
          duis anim nostrud anim aliqua nostrud.
        </p>

        <p>
          Consequat est deserunt laboris mollit in fugiat deserunt cillum
          laboris cillum non culpa labore. Deserunt irure culpa voluptate ex ex
          in. Ullamco eiusmod incididunt eiusmod ipsum sint tempor exercitation
          exercitation aliqua adipisicing deserunt aliquip esse culpa.
        </p>

        <p>
          Cupidatat quis officia incididunt adipisicing eiusmod dolore id ut
          Lorem qui anim et. Nisi consequat minim anim eiusmod aliqua eu
          deserunt ex. Sunt labore duis nisi laboris Lorem enim labore cillum
          enim enim et elit est ullamco. Ad proident excepteur quis enim
          voluptate aute irure ipsum veniam dolore.
        </p>
        <div slot="footer">
          <sh-button variant="primary" close-trigger full>Example Button</sh-button>
        </div>
      </sh-modal>
      <sh-modal variant="tertiary" header="with minimal content" unique-id="demo-variant-tertiary-min" overlay="lowlight-primary">
        <p>A mobile style modal for desktop.</p>
        <div slot="footer">
          <sh-button variant="primary" close-trigger full>Example Button</sh-button>
        </div>
      </sh-modal>
    </lib-toolbar>

    <h3>Remote Content (Ajax)</h3>
    <lib-toolbar>
      <sh-button variant="primary" modal-trigger="demo-ajax">Basic ajax via button</sh-button>
      <sh-modal unique-id="demo-ajax" content-url="/components/sh-modal/data/ajax-test.html">
        <div slot="footer">
          <div class="flex center pad">
            <sh-button  variant="primary" close-trigger>Continue</sh-button>
          </div>
        </div>
      </sh-modal>
    </lib-toolbar>

    <lib-toolbar>
      <sh-button variant="primary" modal-trigger="demo-ajax-target">Targeted</sh-button>
      <sh-modal unique-id="demo-ajax-target" content-url="/components/sh-modal/data/ajax-test.html" content-selector="#primary">
        <div slot="footer">
          <div class="flex center pad">
            <sh-button variant="primary" close-trigger>Continue</sh-button>
          </div>
        </div>
      </sh-modal>
    </lib-toolbar>

    <h3>Attributes</h3>
    <lib-toolbar>
      <sh-button variant="primary" modal-trigger="demo-variant-fullscreen">Fullscreen</sh-button>
      <sh-modal fullscreen unique-id="demo-variant-fullscreen">
        <p>"Fullscreen" attribute.</p>
      </sh-modal>
    </lib-toolbar>

    <h3>Reveal Animations</h3>
    <lib-toolbar>
      <sh-button variant="primary" modal-trigger="demo-reveal-default">Default</sh-button>
      <sh-modal variant="primary" unique-id="demo-reveal-default">
        <p>The default reveal is a zoom effect.</p>
      </sh-modal>

      <sh-button variant="primary" modal-trigger="demo-reveal-left">From Left</sh-button>
      <sh-modal reveal="left" variant="primary" unique-id="demo-reveal-left">
        <p>From left!</p>
      </sh-modal>

      <sh-button variant="primary" modal-trigger="demo-reveal-right">From Right</sh-button>
      <sh-modal reveal="right" variant="primary" unique-id="demo-reveal-right">
        <p>From right!</p>
      </sh-modal>

      <sh-button variant="primary" modal-trigger="demo-reveal-top">From Top</sh-button>
      <sh-modal reveal="top" variant="primary" unique-id="demo-reveal-top">
        <p>From top!</p>
      </sh-modal>

      <sh-button variant="primary" modal-trigger="demo-reveal-bottom">From Bottom</sh-button>
      <sh-modal reveal="bottom" variant="primary" unique-id="demo-reveal-bottom">
        <p>From bottom!</p>
      </sh-modal>

      <sh-button variant="primary" modal-trigger="demo-reveal-zoom">Fade</sh-button>
      <sh-modal reveal="fade" variant="primary" unique-id="demo-reveal-zoom">
        <p>Simple opacity fade effect.</p>
      </sh-modal>
    </lib-toolbar>

    <h3>History State Management</h3>
    <lib-toolbar>
      <sh-button variant="primary" modal-trigger="demo-history1">Launch First Modal</sh-button>
      <sh-modal unique-id="demo-history1" header="First Modal">
        <p>
          Click <a href="#demo-history2">here</a> to progress to the second modal.
        </p>
      </sh-modal>

      <sh-modal unique-id="demo-history2" header="Second Modal">
        <p>
          Click <a href="#demo-history3">here</a> to progress to the third modal.
        </p>
      </sh-modal>

      <sh-modal unique-id="demo-history3" header="Third Modal">
        <p>
          That's it! Now use the back button on your browser to return through the previous states.
        </p>
      </sh-modal>
    </lib-toolbar>

    <h3>Overlays</h3>
    <lib-toolbar>
      <sh-button variant="primary" modal-trigger="demo-overlay1">Accent Overlay</sh-button>
      <sh-modal variant="primary" overlay="accent-primary" unique-id="demo-overlay1">
        <p>Primary accent background.</p>
      </sh-modal>
    </lib-toolbar>
    <lib-toolbar>
      <sh-button variant="primary" modal-trigger="demo-overlay2">Lowlight Overlay</sh-button>
      <sh-modal variant="primary" overlay="lowlight-primary" unique-id="demo-overlay2">
        <p>Primary lowlight background.</p>
      </sh-modal>
    </lib-toolbar>
    <lib-toolbar>
      <sh-button variant="primary" modal-trigger="demo-overlay3">Highlight Overlay</sh-button>
      <sh-modal variant="primary" overlay="highlight-primary" unique-id="demo-overlay3">
        <p>Primary highlight background.</p>
      </sh-modal>
    </lib-toolbar>
    <lib-toolbar>
      <sh-button variant="primary" modal-trigger="demo-overlay4">No Overlay</sh-button>
      <sh-modal variant="primary" overlay="none" unique-id="demo-overlay4">
        <p>No overlay.</p>
      </sh-modal>
    </lib-toolbar>


    <sh-modal variant="primary" unique-id="dyn-modal">
      <div>Loading...</div>
    </sh-modal>
  </section>

  <section id="changelog">
    <h2>Changelog</h2>
    <dl>
      <dt>1.0.0</dt>
      <dd>Component was created.</dd>
      <dt>1.1.0</dt>
      <dd>Added ability to pull content from an external URL with <code>content-url</code> and
        <code>content-selector</code>.
      </dd>
      <dt>1.2.0</dt>
      <dd>
        Added ability to theme the overlay via the <code>overlay</code> attribute.
      </dd>
      <dt>1.3.0</dt>
      <dd>
        Added ability to trigger modal via event with <code>trigger-event</code> attribute.
      </dd>
      <dd>
        Changed <code>secondary</code> variant to be fullscreen.
      </dd>
      <dt>1.3.1</dt>
      <dd>
        Modal design update.
      </dd>
      <dt>1.3.2</dt>
      <dd>
        Added confirmation events.
      </dd>
      <dt>2.0.0</dt>
      <dd>
        <code>modal-opening</code> event now passes `this` instead of just the `unique-id`
      </dd>
    </dl>
  </section>
</div>

<%- htmlWebpackPlugin.options.docsFoot %>
