/* default styling */

belk-swatch {
  display: flex;
  .belk-swatch {
    @media screen and (min-width: breakpoint("lg")) {
      // mobile first, right... make desktop mods here.
      background: $accent-primary;
      color: $highlight-primary;
    }
    /** END EXAMPLE SECTION **/

  }
}
