.belk-product[variant="add"] {
  display: flex;
  flex-direction: column;
  color: $lowlight-primary;
  @include lg {
    flex-direction: row;
  }
  .images {
    @include lg {
      @include scroll-y;
      @include no-scroll-bar;
      max-height: 80dvh;
    }
    min-width: 40rem;
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      li {
        display: block;
        width: 45%;
        flex-grow: 1;
        flex-shrink: 0.5;
        margin-left: $micro;
        margin-bottom: $micro;
        div.image {
          background-size: cover;
          background-position: center center;
          height: 20rem;
        }
      }
      li:nth-child(1) {
        width: calc(100% - 0.8rem);
        flex-shrink: 0;
        min-width: 32rem;
        .image {
          height: 60rem;
        }
      }
    }
  }
  .product-data {
    display: flex;
    flex-direction: column;
    > div {
      margin-bottom: $micro;
    }
    @include lg {
      padding-left: $little;
    }
  }
  .product-brand {
    font-size: 1.4rem;
  }
  .product-title {
    order: 0;
    font-size: 1.8rem;
    font-weight: bold;
  }
  .product-rating {
    order: 2;
  }
  .product-price {
    order: 4;
    .price {
      font-size: 2.4rem;
      font-weight: bold;
    }
  }
  .add-form {
    order: 5;
    > div {
      margin: $little 0;
    }
  }
  [class*="extra-"] {
    order: 10;
  }
}
