/* default styling */
.belk-product[variant="bag"] {
  &.is-on-sale {
    .original {
      text-decoration: line-through;
      font-weight: normal;
      color: $lowlight-quinary;
    }
  }

  .price {
    .sale {
      color: #c00;
      &:after {
        content: attr('discount');
      }
    }
    &[discount="Doorbuster"] {
      .sale {
        color: $lowlight-primary;
      }
    }
  }
}
