/* default styling */
.belk-product[variant="bag"] {
  &.is-on-sale {
    .original {
      text-decoration: line-through;
      font-weight: normal;
      color: $lowlight-quinary;
    }
  }

  [href="#"] {
    cursor: default !important;
  }

  .price {
    .sale {
      color: #c00;
      &:after {
        content: attr(discount);
      }
      &[discount="Doorbuster"] {
        color: $lowlight-primary;
      }
    }
  }
}
