.lib-content {
  opacity: 0;
  transition: all 400ms $decel;
  transform: translateY(2rem) translateZ(0);

  &[content-loaded] {
    opacity: 1;
    transform: translateY(0) translateZ(0);
  }
}

.documentation {
  > h1 {
    font-family: "Menlo", monospace;
    font-weight: 100;
    color: $accent-tertiary;
    font-size: 6rem;
    line-height: 6rem;
    text-align: right;
  }

  section {
    margin-bottom: 6rem;
    padding-bottom: 6rem;
    padding: 0 $base $base $base;
    border: 1px solid $highlight-secondary;
    @include box-shadow(1);

    &:last-of-type {
      border-bottom: none;
    }

    
  
    > h2 {
      text-align: right;
      background: $highlight-secondary;
      color: $accent-tertiary;
      margin: 0 -3rem;
      padding: 1.5rem 3rem;
      margin-bottom: 3rem;
    }
  
    > pre[class*="language-"] {
      margin-bottom: 0;
    }
  
    > h2,
    > h3 {
      font-family: "Menlo", monospace;
    }
  
    > h3 {
      border-bottom: 1px solid $lowlight-secondary;
    }
  }

  table {
    width: 100%;

    ul {
      list-style: none;
      margin: 0 !important;
      padding: 0;
    }

    td,
    th {
      text-align: left;
      line-height: 3rem;
      padding: 0 1.5rem;
      transition: all 100ms linear;
      vertical-align: text-top;
    }

    thead {
      overflow: hidden;
      color: $lowlight-tertiary;
      background: $highlight-secondary;
    }

    tr {
      &:nth-child(even) {
        background: rgba(0, 0, 0, 0.03);
      }

      &:hover {
        td {
          background: rgba(0, 179, 255, 0.1);
        }
      }
    }

    td:nth-child(1) {
      cursor: pointer;
    }

    &.attributes {
      th:nth-child(1) {
        width: 20rem;
      }

      th:nth-child(2) {
        width: 10rem
      }

      td:nth-child(1) {

        &:before,
        &:after {
          display: inline-block;
          color: $accent-secondary;
          font-family: "Material Icons";
          content: "[";
        }

        &:after {
          content: "]";
        }

        &:hover {
          &:after {
            content: "] file_copy";
          }
        }
      }

      td:nth-child(2) {
        font-family: "Menlo", monospace;
        color: $accent-tertiary;
        text-transform: capitalize;
        text-align: center;
      }
    }

    &.methods {
      th:nth-child(1) {
        width: 15rem;
      }

      td:nth-child(1) {
        font-family: "Menlo", monospace;

        &:after {
          display: inline-block;
          color: $accent-secondary;
          font-family: "Material Icons";
          content: "()";
        }

        &:hover {
          &:after {
            content: "() file_copy";
          }
        }
      }
    }

    &.slots {
      td:nth-child(1) {
        min-width: 15rem;
      }

      td:nth-child(1) {

        &:before,
        &:after {
          display: inline-block;
          color: $accent-secondary;
          font-family: "Material Icons";
          content: '"';
        }

        &:hover {
          &:after {
            content: '" file_copy';
          }
        }

      }
    }

    &.events {
      th:nth-child(1) {
        width: 20rem;
      }

      th:nth-child(2) {
        width: 15rem;
      }

      td:nth-child(1) {

        &:before,
        &:after {
          color: $accent-secondary;
          font-family: "Material Icons";
          content: '"';
        }

        &:hover {
          &:after {
            content: '" file_copy';
          }
        }
      }

      td:nth-child(2) {
        font-family: "Menlo", monospace;
        color: $accent-tertiary;
        text-transform: capitalize;
        text-align: center;
      }
    }
  }

  #changelog {
    dt {
      display: inline-block;
      background: $accent-primary;
      color: $accent-quinary;
      font-size: 1.2rem;
      font-weight: bold;
      font-family: "Menlo", monospace;
      padding: 0 1.5rem;
    }

    dd {
      border: 1px solid $accent-primary;
      margin-bottom: 3rem;
      padding: 0 1.5rem;
    }
  }

  #examples {
    position: relative;
  }
}

#library-content {
  height: calc(100vh - 15rem);
  position: relative;
}

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  position: relative;
  margin: .5em 0;
  overflow: visible;
  padding: 0;
}

pre[class*="language-"]>code {
  position: relative;
  border-left: 10px solid #358ccb;
  box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
  background-color: #fdfdfd;
  background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
}

code[class*="language"] {
  max-height: inherit;
  height: inherit;
  padding: 0 1em;
  display: block;
  overflow: auto;
}

/* Margin bottom to accommodate shadow */
:not(pre)>code[class*="language-"],
pre[class*="language-"] {
  background-color: #fdfdfd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
}

/* Inline code */
:not(pre)>code[class*="language-"] {
  position: relative;
  padding: .2em;
  border-radius: 0.3em;
  color: #c92c2c;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline;
  white-space: normal;
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
  display: none;
}

:not(pre)>code[class*="language-"]:after,
pre[class*="language-"]:after {
  right: 0.75em;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7D8B99;
}

.token.punctuation {
  color: #5F6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: #c92c2c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
  color: #2f9c0a;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: #1990b8;
}

.token.regex,
.token.important {
  color: #e90;
}

.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.important {
  font-weight: normal;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.namespace {
  opacity: .7;
}

@media screen and (max-width: 767px) {

  pre[class*="language-"]:before,
  pre[class*="language-"]:after {
    bottom: 14px;
    box-shadow: none;
  }

}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
  color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers.line-numbers {
  padding-left: 0;
}

pre[class*="language-"].line-numbers.line-numbers code {
  padding-left: 3.8em;
}

pre[class*="language-"].line-numbers.line-numbers .line-numbers-rows {
  left: 0;
}

/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

pre[data-line] code {
  position: relative;
  padding-left: 4em;
}

pre .line-highlight {
  margin-top: 0;
}

.note {
  width: max-content;
  background: $accent-primary;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  color: $lowlight-tertiary;
  padding: 0 1.5rem;
  text-shadow: 1px 1px 1px $highlight-quaternary;
  border: 1px dashed $lowlight-tertiary;
  &:before { 
    content: 'Note: ';
    font-weight: bold;
  }
}


// TODO: everything else... find a new place for this

html {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
}

html.iOS {
  height: 100% !important;
  width: 100% !important;
  body {
    height: 100% !important;
    width: 100% !important;
  }
}

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  color: $lowlight-tertiary;
}

[id="xxx"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  #page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    transition: all 150ms $ease;
    height: 100vh;
    position: relative;
    overflow: hidden;
    transform: translateX(0) translateZ(0);
  }
  

  #control {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    overflow: visible;
  }
}

#page {
  > header {
    display: block;
    padding: $base 0;
    line-height: 3rem;
    flex-shrink: 0;
    background: $accent-tertiary;
    color: $highlight-primary;
  }

  > main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 auto;
    background: $highlight-primary;
    @include scroll-y;
  }

  main > footer {
    display: block;
    color: $lowlight-tertiary;
    background: $lowlight-secondary;
  }
}

i.material-icons {
  display: inline-flex;
  vertical-align: middle;
  line-height: 1em;
  font-size: inherit;
}


/* 30px baseline config for Open Sans */
.baseline30 .show-baseline:before {
  background-size: 100% 3rem;
}
.baseline30 {
  line-height: 3rem;
}

.baseline30 h1:last-child,
.baseline30 h2:last-child,
.baseline30 h3:last-child,
.baseline30 h4:last-child,
.baseline30 h5:last-child {
  margin-bottom: 2.5rem;
}

.baseline30 h1 {
  font-size: 3rem;
  line-height: 3rem;
  margin-top: 3.4rem;
  margin-bottom: 2.5rem;
}
.baseline30 p + h1 {
  margin-top: -0.5rem;
}

.baseline30 h2 {
  font-size: 2.6rem;
  margin-top: 0.5rem;
  margin-bottom: 2.6rem;
}

.baseline30 p + h2,
.baseline30 ul + h2,
.baseline30 ol + h2 {
  margin-top: -0.4rem;
}

.baseline30 h1 + h2 {
  margin-top: 0.6rem;
}

.baseline30 h3 {
  font-size: 2rem;
  margin-top: 3.8rem;
  // margin-bottom: 2.9rem;
}

.baseline30 p + h3,
.baseline30 ul + h3,
.baseline30 ol + h3 {
  margin-top: -0.1rem;
  // margin-bottom: 2.9rem;
}

.baseline30 h2 + h3 {
  margin-top: 0.9rem;
}

.baseline30 p,
.baseline30 ul,
.baseline30 ol {
  margin-top: 1rem;
  line-height: 3rem;
  margin-bottom: 3rem;
}

.baseline30 p + p {}

.baseline30 p:last-child,
.baseline30 ul:last-child,
.baseline30 ol:last-child {
  margin-bottom: 2.1rem
}

.baseline30 input {
  display: block;
  height: 3rem;
  width: 100%;
  background-color: #fff;
}

.baseline30 p + input,
.baseline30 ul + input,
.baseline30 ol + input {
  margin-top: -0.9rem;
  margin-bottom: -0.1rem;
}

.baseline30 .image {
  height: 30rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 250ms $ease;
  margin-bottom: 3.9rem;
}

.baseline30 p + .image,
.baseline30 ul + .image,
.baseline30 ol + .image,
.image + .image {
  margin-top: -0.9rem;
  min-height: 3rem;
}

[vce-cloak] {
  display: none !important;
}
