/* default styling */

sh-tag-list {
  display: inline-block;

  .sh-tag-list {
    /** DELETE THIS SECTION **/
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 15rem;
    width: 15rem;
    background-size: cover;
    border: 1px solid transparent;
    transition: all 200ms linear;

    &:hover {
      border: 1px solid purple;
    }

    &.snap-state {
      color: transparent;
      background-image: url(../../../assets/img/snap.gif);
      border: 1px solid purple;
    }

    /** END DELETE SECTION **/
  }
}
