<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <title>Shine</title>
  <style>
    body { 
      min-height: 100vh;
      background: #000046;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, rgb(0,131,186), rgb(41, 57, 115));  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, rgb(0,131,186), rgb(41, 57, 115)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    [v-cloak] {
      opacity: 0 !important;
    }
  </style>
</head>

<body class="baseline30">
  <div id="xxx" v-cloak>
    <lib-notify id="notify"></lib-notify>
    <sh-nav id="nav">
      <ul slot="primary" id="nav-primary">
        <li><a href="#page-layout" note="containers">Layout</a></li>
        <li><a href="#page-content">Content</a></li>
        <li><a href="#navigation">Navigation</a></li>
        <li><a href="#form-stuff">Forms</a></li>
        <li><a href="#utilities">Utilities</a></li>
      </ul>
      <div slot="secondary">
        <div id="page-layout">
          <ul category="body">
            <li><a href="/components/sh-header">Header</a></li>
            <li><a disabled href="/components/sh-main">Main</a></li>
            <li><a disabled href="/components/sh-article">Article</a></li>
            <li><a disabled href="/components/sh-section">Section</a></li>
            <li><a disabled href="/components/sh-footer">Footer</a></li>
          </ul>
        </div>
        <div id="page-content">
          <ul category="interact">
            <li><a disabled href="/components/sh-accordion">Accordion</a></li>
            <li><a disabled href="/components/sh-carousel">Carousel</a></li>
            <li><a href="/components/sh-modal">Modal</a></li>
            <li><a disabled href="/components/sh-slider">Slider</a></li>
            <li><a disabled href="/components/sh-tabs">Tabs</a></li>
          </ul>
          <ul category="present">
            <li><a disabled href="/components/sh-picture">Picture</a></li>
            <li><a disabled href="/components/sh-image">Image</a></li>
            <li><a disabled href="/components/sh-tooltip">Tooltip</a></li>
          </ul>
          <ul category="call to act">
            <li><a href="/components/belk-app-banner">App Banner</a></li>
            <li><a disabled href="/components/sh-banner">Banner</a></li>
            <li><a href="/components/sh-button">Button</a></li>
            <li><a disabled href="/components/sh-flyout">Flyout</a></li>
            <li><a disabled href="/components/sh-popover">Popover</a></li>
          </ul>
        </div>
        <div id="navigation">
          <ul category="linking">
            <li><a disabled href="/components/sh-breadcrumbs">Breadcrumbs</a></li>
            <li><a disabled href="/components/sh-dropnav">Dropnav</a></li>
            <li><a disabled href="/components/sh-mega-menu">Mega Menu</a></li>
            <li><a disabled href="/components/sh-site-map">Site Map</a></li>
          </ul>
        </div>
        <div id="form-stuff">
          <ul category="contain">
            <li><a disabled href="/components/sh-form">Form</a></li>
            <li><a disabled href="/components/sh-fieldset">Fieldset</a></li>
            <li><a disabled href="/components/sh-radio-group">Radio Group</a></li>
          </ul>
          <ul category="elements">
            <li><a disabled href="/components/sh-checkbox">Checkbox</a></li>
            <li><a disabled href="/components/sh-input">Input</a></li>
            <li><a disabled href="/components/sh-progress-bar">Progress Bar</a></li>
            <li><a disabled href="/components/sh-radio">Radio</a></li>
            <li><a disabled href="/components/sh-select">Select</a></li>
            <li><a disabled href="/components/sh-textarea">Textarea</a></li>
          </ul>
        </div>
        <div id="utilities">
          <ul category="css">
            <li><a disabled href="/utilities/animation">Animation</a></li>
            <li><a disabled href="/utilities/box-model">Box Model</a></li>
            <li><a disabled href="/utilities/iconography">Icons</a></li>
            <li><a disabled href="/utilities/typography">Typography</a></li>
          </ul>
          <ul category="javascript">
              <li><a href="/utilities/events">Event Bus</a></li>
              <li><a href="/utilities/leo">HTML &lrarr; JSON</a></li>
          </ul>
        </div>
      </div>
      <div slot="tertiary">
        <img src="https://via.placeholder.com/300x800" alt="">
      </div>
    </sh-nav>
    <div id="page">
      <lib-header id="header">component library</lib-header>
      <lib-section-links></lib-section-links>
      <main>
        <div>
          <lib-content v-cloak />
        </div>
        <footer>
          <div class="contain">
            <p class="text-center">
              xxx
            </p>
          </div>
        </footer>
      </main>
    </div> <!-- #page end -->
    <sh-curtain id="curtain"></sh-curtain>
    <sh-control-panel id="control"></sh-control-panel>
  </div> 
  <!-- built files will be auto injected -->
</body>

</html>