/* default styling */

belk-bag {
  display: inline-flex;

  .belk-bag {
    // color: $highlight-primary;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: stretch;
  }

  .bag-icon {
    display: inline-flex;
    align-items: center;
    background: $accent-primary;
    color: $highlight-primary;
    padding: 0 1.5rem;
  }

  .bag-total {
    background: $accent-tertiary;
    color: $highlight-primary;
    padding: 0 0.25rem;
    font-size: 1.2rem;
    align-self: center;
  }
}

