/* default styling */

belk-bag {
  display: inline-flex;
  font-size: 1.4rem;
  color: $lowlight-primary;
  rect.bag-background {
    fill: red;
  }
  .belk-bag {
    // color: $highlight-primary;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    .bag-background {
      fill: transparent;
    }
    &.active {
      .bag-background {
        fill: $lowlight-primary;
      }
      .bag-count {
        color: $highlight-primary;
      }
    }
  }
  
  .bag-count {
    position: relative;
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .bag-total {
    margin-top: 1.4rem;
  }

  .bag-text {
    font-size: 1.6rem;
    margin-top: .4rem;
  }

  .bag-icon {
    position: relative;
    margin-right: .8rem;
    svg {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    span {
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: .4rem;
    }
  }
}
