/* default styling */

sh-accordion {
  display: block;

  .sh-accordion {

    .header,
    .body {
      padding: 0.5rem 1.5rem;
    }

    .header {
      display: block;
      width: 100%;
      outline: 0;
      border: 0;
      cursor: pointer;
      background: $highlight-secondary;
      transition: all 250ms $ease;
      font-size: 1.6rem;
      text-align: left;
      color: $lowlight-secondary;
      h1,h2,h3,h4,h5,h6 {
        margin: 0 !important;
      }
      &:hover {
        color: $accent-primary;
        background: $highlight-primary;
      }
    }

    .body {
      border: 1px solid transparent;
    }

    .collapse {
      max-height: 0;
      overflow: hidden;
      transition: none;
    }

    &.active {
      .header {
        background-color: $accent-tertiary;
      }

      .body {
        border-color: $accent-tertiary;
      }

      .collapse {
        max-height: 200vh;
        transition: all 250ms $ease;
      }
    }
  }
}

