/* default styling */

sh-accordion {
  display: block;

  .sh-accordion {
    button.header {
      outline: none;
      border: none;
      background: transparent;
      cursor: pointer;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    &.active {
      [aria-expanded="true"] > .accordion-collapse {
        display: block;
        max-height: 200vh;
        transition: all 250ms $ease;
        overflow: auto;
      }
    }

    .accordion-collapse {
      max-height: 0;
      overflow: hidden;
      transition: none;
    }
  }
}
