/* default styling */

sh-accordion {
  display: block;

  .sh-accordion {
    button.header {
      outline: none;
      border: none;
      background: transparent;
      cursor: pointer;
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    &.active {
      .collapse {
        max-height: 200vh;
        transition: all 250ms $ease;
      }
    }

    .collapse {
      max-height: 0;
      overflow: hidden;
      transition: none;
    }
  }
}
