sh-accordion {
  .sh-accordion[variant="primary"] {
    border: 1px solid $lowlight-quinary;

    button>div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header,
    .body {
      padding: 1rem 1.5rem;
    }

    .header {
      display: block;
      width: 100%;
      outline: 0;
      cursor: pointer;
      color: $accent-primary;
      background: $highlight-primary;
      transition: all 250ms $ease;
      font-size: 1.6rem;
      text-align: left;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0 !important;
      }

      &:hover {
        background: $accent-tertiary;
      }
    }

    &.active {
      .header {
        border-bottom: 1px solid $lowlight-quinary;
      }
    }
  }

  &+sh-accordion {
    .sh-accordion {
      border-top: none;
    }
  }
}
