/*
  $$\                           $$\
  $$ |                          \__|
  $$$$$$$\   $$$$$$\   $$$$$$$\ $$\     $$$$$$$\  $$$$$$$\  $$$$$$$\
  $$  __$$\  \____$$\ $$  _____|$$ |   $$  _____|$$  _____|$$  _____|
  $$ |  $$ | $$$$$$$ |\$$$$$$\  $$ |   $$ /      \$$$$$$\  \$$$$$$\
  $$ |  $$ |$$  __$$ | \____$$\ $$ |   $$ |       \____$$\  \____$$\
  $$$$$$$  |\$$$$$$$ |$$$$$$$  |$$ |$$\\$$$$$$$\ $$$$$$$  |$$$$$$$  |
  \_______/  \_______|\_______/ \__|\__|\_______|\_______/ \_______/
/ */

html {
  font-size: 8px;
  box-sizing: border-box;
  @include md {
    font-size: 10px;
  }
}

html, body {
  scroll-behavior: smooth;
}

.destyle {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// /* Scaling CSS Configuration */

// @media (min-width: 0px) {
//   html {
//     font-size: 4px
//   }
// }

// @media (min-width: 200px) {
//   html {
//     font-size: 9px
//   }
// }

// @media (min-width: 500px) {
//   html {
//     font-size: 8px
//   }
// }

// @media (min-width: 800px) {
//   html {
//     font-size: 7px
//   }
// }

// @media (min-width: 900px) {
//   html {
//     font-size: 8px
//   }
// }

// @media (min-width: 1000px) {
//   html {
//     font-size: 9px
//   }
// }

// @media (min-width: 1100px) {
//   html {
//     font-size: 10px
//   }
// }

// @media (min-width: 1200px) {
//   html {
//     font-size: 11px
//   }
// }

// @media (min-width: 1300px) {
//   html {
//     font-size: 12px
//   }
// }

// @media (min-width: 1400px) {
//   html {
//     font-size: 13px
//   }
// }

// @media (min-width: 1500px) {
//   html {
//     font-size: 14px
//   }
// }

// @media (min-width: 1600px) {
//   html {
//     font-size: 15px
//   }
// }

// @media (min-width: 1700px) {
//   html {
//     font-size: 16px
//   }
// }

// @media (min-width: 1800px) {
//   html {
//     font-size: 17px
//   }
// }

// @media (min-width: 1900px) {
//   html {
//     font-size: 18px
//   }
// }

// @media (min-width: 2000px) {
//   html {
//     font-size: 19px
//   }
// }

// @media (min-width: 2100px) {
//   html {
//     font-size: 20px
//   }
// }

// @media (min-width: 2200px) {
//   html {
//     font-size: 21px
//   }
// }

// @media (min-width: 2300px) {
//   html {
//     font-size: 22px
//   }
// }

// @media (min-width: 2400px) {
//   html {
//     font-size: 23px
//   }
// }

// @media (min-width: 2500px) {
//   html {
//     font-size: 24px
//   }
// }

// @media (min-width: 2600px) {
//   html {
//     font-size: 25px
//   }
// }

// @media (min-width: 2700px) {
//   html {
//     font-size: 26px
//   }
// }

// @media (min-width: 2800px) {
//   html {
//     font-size: 27px
//   }
// }

// @media (min-width: 2900px) {
//   html {
//     font-size: 28px
//   }
// }

// @media (min-width: 3000px) {
//   html {
//     font-size: 29px
//   }
// }

// @media (min-width: 3100px) {
//   html {
//     font-size: 30px
//   }
// }

// @media (min-width: 3200px) {
//   html {
//     font-size: 31px
//   }
// }

/* Grid */
.srow {
  display: flex !important;
  flex-direction: row;
}

[class*=scol-] {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  float: left;
}

.srow>[class*=scol-] {
  float: none;
}

.srow::after,
.scontain::after,
[class*=scol-]::after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  line-height: 0
}

@media (max-width: 768px) {
  .srow {
    clear: both;
    flex-direction: column;
  }

  .srow>[class*=scol-] {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }


  [attr*="sh-col-"][attr*="sh-push-"] {
    margin-left: 0;
  }

  .low-off {
    display: none !important;
  }

  .low-on {
    display: initial !important;
  }

  .slow-1-1 {
    width: 100%;
  }

  .slow-3-4 {
    width: 75%;
  }

  .slow-1-2 {
    width: 50%;
  }

  .slow-1-4 {
    width: 25%;
  }

  .slow-1-5 {
    width: 20%;
  }

  .vlow-2-5 {
    width: 40%;
  }

  .slow-3-5 {
    width: 60%;
  }

  .slow-4-5 {
    width: 80%;
  }

  .slow-1-6 {
    width: calc(100% / 6);
  }

  .slow-5-6 {
    width: 83.33%;
    width: calc(100% - (100% / 5.99999));
  }

  .slow-7-8 {
    width: 87.5%;
  }

  .slow-1-8 {
    width: 12.5%;
  }

  .slow-3-8 {
    width: 37.5%;
  }

  .slow-1-3 {
    width: calc(100% / 3);
  }

  .slow-2-3 {
    width: 66.66%;
    width: calc(100% / 2.99999);
  }
}
@include md {
  .scol-1-1 {
    width: 100%;
  }

  .scol-3-4 {
    width: 75%;
  }

  .scol-1-2 {
    width: 50%;
  }

  .scol-1-4 {
    width: 25%;
  }

  .scol-1-5 {
    width: 20%;
  }

  .scol-2-5 {
    width: 40%;
  }

  .scol-3-5 {
    width: 60%;
  }

  .scol-4-5 {
    width: 80%;
  }

  .scol-1-6 {
    width: calc(100% / 6);
  }

  .scol-5-6 {
    width: 83.33%;
    width: calc(100% - (100% / 5.99999));
  }

  .scol-7-8 {
    width: 87.5%;
  }

  .scol-1-8 {
    width: 12.5%;
  }

  .scol-3-8 {
    width: 37.5%;
  }

  .scol-1-3 {
    width: calc(100% / 3);
  }

  .scol-2-3 {
    width: 66.66%;
  }

  .spush-1-1 {
    margin-left: 100%;
  }

  .spush-3-4 {
    margin-left: 75%;
  }

  .spush-1-2 {
    margin-left: 50%;
  }

  .spush-1-4 {
    margin-left: 25%;
  }

  .spush-1-5 {
    margin-left: 20%;
  }

  .spush-2-5 {
    margin-left: 40%;
  }

  .spush-3-5 {
    margin-left: 60%;
  }

  .spush-4-5 {
    margin-left: 80%;
  }

  .spush-1-6 {
    margin-left: calc(100% / 6);
  }

  .spush-5-6 {
    margin-left: 83.33%;
    width: calc(100% - (100% / 5.99999));
  }

  .spush-7-8 {
    margin-left: 87.5%;
  }

  .spush-1-8 {
    margin-left: 12.5%;
  }

  .spush-3-8 {
    margin-left: 37.5%;
  }

  .spush-1-3 {
    margin-left: calc(100% / 3);
  }

  .spush-2-3 {
    margin-left: 66.66%;
    width: calc(100% / 2.99999);
  }
}

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

.border-none {
  border: none;
}

.border-1 {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-3 {
  border-width: 3px;
}

.border-4 {
  border-width: 4px;
}

.border-5 {
  border-width: 5px;
}

/* List modifiers: */

ul.no-style {
  list-style: none;
}

ul.disc {
  list-style: disc;
}

ul.square {
  list-style: squad;
}

ul.circle {
  list-style: circle;
}

ol.upper-roman {
  list-style: upper-roman;
}

ol.lower-roman {
  list-style: lower-roman;
}

ol.upper-alpha {
  list-style: upper-alpha;
}

ol.lower-alpha {
  list-style: lower-alpha;
}

/* Common use OO classes: */

.fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fill-height {
  height: 100%;
}

.fill-width {
  width: 100%;
}

.off {
  display: none !important;
}

.on,
.block {
  display: block;
}

.on-inline,
.inline {
  display: inline-block;
}

.alpha-off {
  opacity: 0;
}

.alpha-on {
  opacity: 1;
}

.stage-right {
  left: 110% !important;
}

.stage-left {
  right: 110% !important;
}

.stage-top {
  bottom: 110% !important;
}

.stage-bottom {
  top: 110% !important;
}

.absolute {
  display: block;
  position: absolute;
}

.relative {
  display: block;
  position: relative;
}

.sticky {
  position: sticky;
  top: 0;
}

.fixed {
  display: block;
  position: fixed;
}

.static {
  display: block;
  position: static;
}

.clear {
  clear: both;
  overflow: hidden;
  zoom: 1;
}

.clear::before,
.clear::after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.o-hide {
  overflow: hidden !important;
}

.o-show {
  overflow: visible !important;
}

.sub-layer {
  z-index: -1;
}

.bottom-layer {
  z-index: 1;
}

.middle-layer {
  z-index: 2;
}

.top-layer {
  z-index: 3;
}

/* Padding: */

.no-pad {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.center-box {
  margin-left: auto;
  margin-right: auto;
}

.float-none {
  float: none !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.true-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.fit-content {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

.max-content {
  max-width: -moz-max-content;
  max-width: -webkit-max-content;
  max-width: max-content;
}

.min-content {
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}

.object-none {
  object-fit: none;
}

.cols-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.cols-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

/* Font modifiers: */

.light,
.wt-light {
  font-weight: 300;
}

.normal,
.wt-normal {
  font-weight: 400;
}

.bold,
.wt-bold {
  font-weight: 700;
}

.wt-heavy,
.heavy {
  font-weight: 800;
}

.normalcase,
.case-normal {
  text-transform: normal;
}

.uppercase,
.case-upper {
  text-transform: uppercase;
}

.lowercase,
.case-lower {
  text-transform: lowercase;
}

.titlecase,
.case-title {
  text-transform: capitalize;
}
.strike,
.deco-strike {
  text-decoration: line-through;
}

.underline,
.deco-underline {
  text-decoration: underline;
}

.deco-none {
  text-decoration: none !important;
}

.italic,
.style-italic {
  font-style: italic;
}

.style-normal {
  font-style: normal;
}

.ws-nowrap,
.nowrap:not(.flex) {
  white-space: nowrap
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.force-justify {
  text-align: justify;
}

.force-justify::after {
  display: inline-block;
  width: 100%;
  content: '.';
  line-height: 0;
  height: 0;
  overflow: hidden;
}
/* Flexbox shorthand: */

[class*=flex] {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.flex-inline {
  display: inline-flex;
  align-items: flex-start;
}

[class*=flex].row {
  flex-direction: row;
}

[class*=flex].row-rev {
  flex-direction: row-reverse;
}

[class*=flex].col {
  flex-direction: column;
}

[class*=flex].col-rev {
  flex-direction: column-reverse;
}

[class*=flex].wrap {
  flex-wrap: wrap;
}

[class*=flex].nowrap {
  flex-wrap: nowrap;
}

[class*=flex].wrap-rev {
  flex-wrap: wrap-reverse;
}

[class*=flex].start {
  justify-content: flex-start;
}

[class*=flex].end {
  justify-content: flex-end;
}

[class*=flex].center {
  justify-content: center;
}

[class*=flex].between {
  justify-content: space-between;
}

[class*=flex].around {
  justify-content: space-around;
}

[class*=flex].stretch {
  justify-content: stretch;
}

[class*=flex].align-top {
  align-items: flex-start;
}

[class*=flex].align-bottom {
  align-items: flex-end;
}

[class*=flex].align-middle {
  align-items: center;
}

[class*=flex].align-stretch {
  align-items: stretch;
}

[class*=flex].align-content {
  align-items: baseline;
}

[class*=flex].content-top {
  align-content: flex-start;
}

[class*=flex].content-bottom {
  align-content: flex-end;
}

[class*=flex].content-middle {
  align-content: center;
}

[class*=flex].content-stretch {
  align-content: stretch;
}

[class*=flex].content-baseline {
  align-content: baseline;
}

[class*=flex]-item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  -webkit-flex-grow: 0;
  -webkit-flex-shrink: 0;
  -webkit-flex-basis: auto;
}

.order-0,
[order="0"] {
  order: 0;
}

.order-1,
[order="1"] {
  order: 1;
}

.order-2,
[order="2"] {
  order: 2;
}

.order-3,
[order="3"] {
  order: 3;
}

.order-4,
[order="4"] {
  order: 4;
}

.order-5,
[order="5"] {
  order: 5;
}

.order-6,
[order="6"] {
  order: 6;
}

.order-7,
[order="7"] {
  order: 7;
}

.order-8,
[order="8"] {
  order: 8;
}

.order-9,
[order="9"] {
  order: 9;
}

[class*=flex].grid {
  flex-grow: 1;
}

[class*=flex]-item.single {
  flex-grow: 0;
}

[class*=flex]-item.double {
  flex-grow: 1;
}

[class*=flex]-item.triple {
  flex-grow: 2;
}

[hidden] {
  display: none !important;
}

[scale] {
  font-size: 10px;
}

[scale="50"] {
  font-size: 6px;
}

[scale="60"] {
  font-size: 6px;
}

[scale="70"] {
  font-size: 7px;
}

[scale="80"] {
  font-size: 8px;
}

[scale="90"] {
  font-size: 9px;
}

[scale="110"] {
  font-size: 11px;
}

[scale="120"] {
  font-size: 12px;
}

[scale="130"] {
  font-size: 13px;
}

[scale="140"] {
  font-size: 14px;
}

[scale="150"] {
  font-size: 15px;
}

[vce-cloak],
[v-cloak] {
  opacity: 0;
  transition: none;
  display: none !important;
}

[interaction='mouse'] *:focus {
  outline: none;
}
