
@each $name, $hex in $colors {
  &.#{$name} {
    color: $hex;
  }
  &.back-#{$name} {
    background: $hex;
  }
}

@each $level, $size in $breakpoints {
  @media screen and (min-width: #{$size}px) {
    @each $l, $s in $breakpoints {
      @if $l == $level {
        .#{$l}-only {
          display: initial;
        }
      } @else {
        .#{$l}-only {
          display: none;
        }
      }
    }
  }
}
