/* default styling */

belk-barcode {
  display: block;
  min-width: 120px;
  .belk-barcode {
    display: block;
    height: 100%;
    svg {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
